blockquote {
  border-left: .5rem solid $ice-blue;
  padding: .5rem 1rem;
  @include clearfix;
  @include respond((
    margin-top: null,
    margin-bottom: 1em,
    margin-left: null,
  ));

  p {
    color: $slate-gray;
    font-weight: 400;
    @include respond((
      font-size: 16px,
      line-height: 24px,
    ));
  }

  p:last-of-type {
      @include respond((
        margin-bottom: 0,
      ));
  }

  cite {
    font-style: normal;
    font-weight: 500;
    @include respond((
      font-size: 16px,
      line-height: 36px,
      color: transparentize($black, 1-.54) null $black,
      float: right,
    ));

    strong {
      font-weight: 700;
    }
  }
}
