// CLASS IMPLEMENTATIONS
// ------------------------------------------------


.mo-btn {
  -webkit-appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  transition: all .3s;
  text-transform: uppercase;
  height: 36px;
  background-image: none;
  box-shadow: none;
  padding: 0;
  border-radius: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
  @include btn--transparent;

  svg {
    max-width: 100%;
    max-height: 100%;
    transition: all .3s;
  }
}
