.footer {
  display: block;
  @include respond((
    padding: (24px 16px) null 0,
    padding-top: null null 40px,
    background-color: $black,
  ));


  &__logo {
    width: 85px;
    @include respond((
      margin-left: null null percentage(39px/$bp-lg) percentage(130px/$bp-xl),
    ));

    svg {
      width: 85px;
      height: 40px;

      &:hover {
        fill: initial;
      }
    }

    img {
      width: 100%;
    }
  }


  &__top {
    margin-top: 30px;
    @include respond((
      display: null null flex,
      padding-top: null null null 30px,
      padding-bottom: null null null 39px,
      padding-left: null null percentage(39px/$bp-lg) percentage(130px/$bp-xl),
      padding-right: null null percentage(39px/$bp-lg) percentage(130px/$bp-xl),
    ));
  }


  &__nav {
    position: relative;
    @include respond((
      display: block null flex,
      width: null null percentage(545/1180),
      flex-wrap: wrap,
      justify-content: space-between,
      padding-bottom: 14px null 0,
      margin-right: null null percentage(55/1180),
    ));


    &__column {
      @include respond((
        width: null null percentage(150/545),
      ));

      &:first-child {
        .footer__nav__column-heading {
          @include respond((
            display: none null block,
          ));
        }
      }

      &:not(:first-child) {
        // @include respond((
        //   margin-left: null null percentage(55/545),
        // ));
        @include breakpoint(md down) {
          margin-top: 30px;
        }
      }

      &-heading {
        @include font(roboto-bold);
        @include respond((
          color: $white,
          font-size: 16px,
          line-height: 35px,
          text-transform: uppercase,
        ));
      }

      &-links {
        @include respond((
          margin-top: 6px,
        ));

        a {
          display: block;
          font-weight: normal;
          @include font(roboto);
          @include respond((
            font-size: 16px,
            line-height: 36px,
            color: $white,
          ));

          &:hover{
            color: $azure;
          }
        }
      }
    }

    &__cta {
      align-self: flex-end;
      @include respond((
        width: null null 100%,
        margin-top: 41px null 46px,
      ));

      &__copy {
        color: $white;
        @include respond((
          display: block null none,
          padding-top: nul null 18px,
          padding-bottom: 18px,
        ));
      }

      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        white-space: nowrap;
        @include font(roboto-condensed-bold);
        @include respond((
          width: 100% null auto,
          height: 36px,
          font-size: 14px,
          color: $white,
          margin-top: 6px null 0,
        ));

        &:hover {
          color: $azure;
        }
      }


      svg {
        fill: $white;
        display: inline-block;

        &:first-child {
          width: 24px;
          height: 24px;
          margin-left: 0;
          @include respond((
            margin-right: 24px null 2px,
          ));
        }

        &:last-child {
          width: 7.4px;
          height: 12px;
          @include respond((
            margin-left: auto null 9px,
          ));
        }

      }
    }
  }

  &__text {
    @include respond((
      width: null null percentage(580/1180),
      flex-shrink: 0,
      padding: (14px 0) null 0,
    ));

    a,
    a:active,
    a:visited {
      color: inherit;
      transition: color .3s;

      &:hover {
        color: $azure;
      }
    }

    &__item {
      @include font(roboto-regular);
      @include respond((
        font-size: 13px,
        line-height: 19px,
        color: $white,
      ));

      &:not(:first-child) {
        @include respond((
          margin-top: 18px null 40px,
        ));
      }
    }

    &__cta {
      display: flex;
      white-space: nowrap;
      font-weight: bolder;

      &:link,
      &:visited,
      &:active {
        display: flex;
        align-items: center;
        @include font(roboto-bold);
        @include respond((
          height: 48px null 1em,
          font-size: 16px null inherit,
          line-height: 20px null inherit,
          margin-top: 1em,
          color: $white,
        ));
      }

      &:hover {
        color: $azure;
      }

      svg {
        width: 8px;
        height: 12px;
        fill: $white;
        @include respond((
          margin-left: auto null 10px,
        ));
      }
    }
  }



  &__bottom {
    display: flex;
    @include respond((
      justify-content: null null space-between,
      padding: null null (percentage(39px/$bp-lg) 40px) (0 percentage(130px/$bp-xl) 40px),
    ));
  }


  &__social {
    display: flex;
    align-items: center;
    flex-shrink: 1;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;

      &:not(:first-child) {
        margin-left: 10px;
      }
    }

    svg {
      fill: $white;
      width: 18px;
      height: 18px;
    }
  }


  &__fineprint {
    @include font(roboto);
    @include respond((
      width: null null percentage(580/1180),
      border: (1px solid #979797) null,
      font-size: 11px,
      line-height: 20px,
      color: $white,
      padding: (8px 20px) null (11px 0),
      text-align: left null center,
    ));

    a:link,
    a:active,
    a:visited {
      color: inherit;
      transition: color .3s;

      &:hover {
        color: $azure;
      }
    }

    strong {
      font-weight: bolder;
      color: inherit;
      @include font(roboto-medium);
    }
  }
}

#footer-2022 {
  padding: 0px;
  font-family: "Roboto", Sans-serif;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  position: relative;

  *:focus {
    outline: 2px solid #006394;
    outline-offset: -2px;
  }

  .footer-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }

  ul {
    margin: 0px;
    list-style: none;
  }

  a {
    color: #FFFFFF !important;
    
    &:hover {
      color: #00ABFF !important;
      transition: color .3s;
    }
  }

  p {
    color: #FFFFFF;
    font-size: 13px;
    line-height: 1.375rem;

    &.p-short {
      line-height: 1rem;
    }
  }

  #footer-reorder {
    display: flex;
    flex-direction: column;

    @media (min-width: $bp-md) {
        flex-direction: row;
        flex-wrap: wrap;
    }
  }

  #footer-signup-form {
    transition: background-color .3s;
    background-color: #000000;
    padding: 15px 20px 20px;

    @media (min-width: $bp-md) {
      background-color: #00ABFF;
      padding: 12px 20px 20px;
      order: -1;
      flex-basis: 100%;
    }

    .footer-container {
      @media (min-width: $bp-md) {
        display: flex;
        flex-direction: row;
      }

      &#alternate-signup {
        display: block;
        text-align: center;
        padding: 6px 10px;

        @media (min-width: $bp-md) {
          padding: 6px 0px 14px;
        }

        h2 {
          text-align: center;

          @media (min-width: $bp-md) {
            margin-bottom: 8px;
          }
        }

        button {
          @media (min-width: $bp-md) {
            width: 335px;
          }
        }
      }
    }

    form {
      flex-basis: 85%;
      display: flex;
      flex-direction: column;

      @media (min-width: $bp-md) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      .errorlist {
        @media (min-width: $bp-md) {
          margin: 7px 7px 0px 7px;
          flex-basis: calc(99% - 14px);
        }
      }
    }

    h2 {
      color: #FFFFFF;
      font-size: 21px;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 13px;
      flex-basis: 15%;

      @media (min-width: $bp-md) {
        color: #000000;
        font-size: 28px;
        text-align: left;
        line-height: 30px;
        margin-top: 16px;
      }

    }

    .input-block {
      width: 100%;
      margin: 0px 0px 10px 0px;

      @media (min-width: $bp-md) {
        width: calc(33% - 14px);
        margin: 0px 7px 7px 7px;
      }
    }

    label {
      position: static;
      height: auto;
      text-transform: uppercase;
      font-weight: 700;
      color: #FFFFFF;

      @media (min-width: $bp-md) {
        color: #000000;
      }
    }

    input {
      background-color: #FFFFFF;
      border: none;
      font-size: 18px;
      line-height: 2.5rem !important;
      font-weight: 400;
      padding: 6px 16px;
      height: 47px;

      @media (min-width: $bp-md) {
        font-size: 20px;
      }

      &:focus {
        color: #006394;
      }
    }

    button {
      background-color: #00ABFF;
      color: #000000;
      width: 100%;
      height: 47px;
      font-size: 28px;
      padding: 8px;
      transition: width 0s, color .3s, background-color .3s;

      @media (min-width: $bp-md) {
        background-color: #000000;
        color: #FFFFFF;
        flex-basis: calc(99% - 14px);
        margin: 0px 7px 0px 7px;
      }

      &:hover {
        background-color: #FFFFFF;
        color: #000000;
      }
    }
  }

  #footer-socials {
    padding: 30px 10px;

    @media (min-width: $bp-md) {
      padding: 40px 0px 0px 0px;
      flex-basis: 31%;
      max-width: 300px;
      margin-left: auto;
    }
  }

  .footer-links {
    color: #FFFFFF;
    font-size: 16px;
    padding: 26px 30px;

    @media (min-width: $bp-md) {
      padding: 38px 10px 30px 8px;
      flex-basis: 23%;
      max-width: 215px;
    }

    h2 {
      font-family: "Roboto", Sans-serif;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
      margin: 5px 0px 10px;

      @media (min-width: $bp-md) {
        margin: 5px 0px 15px;
      }
    }

    li {
      line-height: 29px;
      padding-left: 2px;
    }

    a {
      font-weight: 400 !important;
    }

  }

  .get-involved-links {
    @media (min-width: $bp-md) {
      margin-right: auto;
    }
  }

  .logo-2022 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 90px;
    transition: all 0s;

    @media (min-width: $bp-md) {
      width: 130px;
    }
  }

  .social-row {
    text-align: center;
    margin-top: 10px;

    @media (min-width: $bp-md) {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      width: 185px;
    }

    a {
      display: inline-block;
    }

    svg {
      height: 30px;
      width: 30px;
      padding: 5px;
      fill: #FFFFFF;
      vertical-align: bottom;
      transition: fill .3s;

      @media (min-width: $bp-md) {
        height: 33px;
        width: 33px;
      }

      &:hover {
        fill: #00ABFF !important;
      }
    }

  }

  #divider {
    background-color: #FFFFFF;
    height: 1px;
    width: 65%;
    margin: 0px 0px 0px 30px;

    @media (min-width: $bp-md) {
      display: none;
    }
  }

  #footer-info {
    display: flex;
    background-color: #383838;
    padding: 30px;
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #00ABFF;
    flex-direction: column;
    margin-top: 4px;

    @media (min-width: $bp-md) {
      flex-direction: row;
      margin-top: 0px;
    }

    .info-c4-pac {
      @media (min-width: $bp-md) {
        flex-basis: 43%;
        max-width: 491px;
        padding: 0px 30px 0px 0px;
        margin-left: auto;
      }
    }

    .info-c4 {
      @media (min-width: $bp-md) {
        flex-basis: 29%;
        max-width: 327px;
        padding: 0px 50px 0px 10px;
      }
    }

    .info-pac {
      @media (min-width: $bp-md) {
        flex-basis: 28%;
        max-width: 318px;
        padding: 0px 0px 0px 10px;
        margin-right: auto;
      }
    }

    #divider {
      width: 54%;
      margin: 25px auto;
    }

    .divided-block {
      @media (min-width: $bp-md) {
        border-style: solid;
        border-width: 0px 0px 0px 1px;
        border-color: #FFFFFF;
      }
    }

    h2 {
      color: #FFFFFF;
      font-family: "Roboto", Sans-serif !important;
      font-size: 14px;
      font-weight: 700;
      margin: 0px;
      text-align: center;

      @media (min-width: $bp-md) {
        text-align: left;
      }
    }

    p {
      padding: 13px 0px;
      margin: 0px;
      text-align: center;

      @media (min-width: $bp-md) {
        text-align: left;
      }
    }

    .donate-button {
      color: #FFFFFF;
      text-align: center;
      line-height: 1;
      font-size: 13px;
      font-weight: 700;

      a {
        display: flex;
        justify-content: center;

        @media (min-width: $bp-md) {
          justify-content: flex-start;
        }
      }

      &:hover a {
        color: #00ABFF !important;
      }

      svg {
        fill: #FFFFFF;
        height: 13px;
        vertical-align: text-top;
      }

      &:hover svg {
        fill: #00ABFF;
      }

      .caret-icon {
        padding-left: 23px;

        svg {
          width: 8px;
          height: 12px;
        }
      }
    }
  }

  #footer-disclaimer {
    background-color: #262626;
    
    .footer-container {
      padding: 20px;
    }

    p {
      text-align: center;
      border-style: solid;
      border-width: 1px 1px 1px 1px;
      border-color: rgba(255, 255, 255, 0.54);
      margin-bottom: 0px;
      padding: 18px 5px;

      @media (min-width: $bp-md) {
        padding: 13px 0px;
      }
    }

  }
}
