form {

  .ak-attachment-area {
    flex-grow: 1;
    pointer-events: none;
  }

  .ak-attachment-area input {
    background: none!important;
  }

  .ak-attachment-backend {
    display: none;
  }

  box-sizing: border-box;

  box-shadow: none;

  .input-block {
    position: relative;
    color: $dark-gray;
    @include respond((
      font-size: 14px null 16px,
      line-height: 20px,
    ));

    &:not(:first-of-type), &.override-collapse {
      @include respond((
        margin-top: 30px,
      ));
    }

    .input-white:hover {
        background-color: $white;
    }

    input,
    select {
      padding: 5px;
      border-radius: 0;
      font-size: inherit;
      font-family: inherit;
      line-height: inherit;
      transition: all .3s;
      position: relative;
      background-color: transparent;
      z-index: 1;
      margin-bottom: 0;
      box-shadow: none;
      @include respond((
        width: 100%,
        height: 50px null 30px,
        border: 0,
        border-bottom: (2px solid transparentize($black, 1-0.42)) null,
      ));
      &[multiple] {
        border-bottom:0;
        height:4em;
        & ~ label {
          height: auto;
        }
      }
      &:focus ~ label {
        color: $azure;
      }

      &:invalid:focus {
        box-shadow: none;
      }

      &:focus,
      &:invalid:focus {
        color: rgba(0,0,0,.54);
        border-bottom-color: $azure;
      }

      &:hover {
        background-color: transparent;
      }

      option {
        padding:0.1em;
      }
    }

    label {
      position: absolute;
      top: -1.5625rem;
      left: 0;
      font-weight: normal;
      font-size: .95rem;
      display: flex;
      align-items: center;
      height: 100%;
    }

    select {
      appearance: none;
      width: 100%;
      background-color: transparent;
      padding-top: 0;
      padding-bottom: 0;

      & ~ label {
        pointer-events: none;
      }
    }

    textarea {
      width: 100%;
      max-width:100%;
      resize: vertical;
      border: 1px solid $gray;
      font-size: inherit;
      font-family: inherit;
      line-height: inherit;
      padding: 5px;
      transition: all .3s;
      border-radius: 0;
      box-shadow: none;
      background-color: transparent;

      & ~ label {
        height: auto;
      }

      &:focus {
        border-color: $azure;
        box-shadow: none;
      }

      &:focus ~ label {
        color: $azure;
      }


    }

    .select-caret {
      position: absolute;
      display: block;
      fill: $light-gray;
      z-index: 9;
      @include respond((
        top: 50%,
        transform: translateY(-50%),
        right: 12px,
        width: 14px,
        height: 14px,
      ));
    }


    // TEXTAREA
    &.textarea-input {
      margin-top:50px;
      textarea {
        padding:0.5em;
        @include respond((
          border: (2px solid transparentize($black, 1-0.42)) null,
        ));

        & ~ label {
          top: -22px;
          left: 0;
          height: auto;
        }

        &:focus {
          color: $azure;
          border-color: $azure;
          box-shadow: none;
        }

      }
    }
  }


  // INPUT HELPER
  .input-helper {
    display: block;
    margin-top: 7px;
    opacity: .54;
    @include font(roboto);
    @include respond((
      font-size: 13px,
      line-height: 20px,
    ));
  }




  // RADIO AND CHECKBOX
  .checkbox-input, .radio-input {
    label {
      font-weight:inherit;
      color: $dark-gray;
      @include font(roboto);
      @include respond((
        margin-left: 10px,
        font-size: 16px,
        line-height: 24px,
      ));
    }
    &.label-above {
      display:block;
      color: $dark-gray;
      font-size: .95rem;
      label {
        color: $dark-gray;
        display:block;
        margin:0 0 0.5em 0;
        position:relative;
        width:100%;
        font-size: inherit;
      }
      div {
        font-size: inherit;
      }
    }
    &.border {
      margin:1em 0;
      padding:0 0 1em;
      @include respond((
        width: 100%,
        border-bottom: (2px solid transparentize($black, 1-0.42)) null,
      ));
      border-width:0 0 2px 0;
    }
    &.margin {
      margin:30px 0;
    }
  }


  // RADIO
  .radio-input {
    display: inline-flex;
    align-items: center;
    margin-bottom: 28px;
    margin-right: 20px;

    input[type=radio] {
      appearance: none;
      -webkit-appearance: none;
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: top;
      border: 2px solid #010101;
      opacity: .54;
      border-radius: 50%;
      transition: all .3s;
      position: relative;
      box-shadow: inset 0 0 0 20px $white;
      background-color: $azure;

      &:checked {
        border-color: $azure;
        opacity: 1;
        box-shadow: inset 0 0 0 3px $white;
      }
    }

    label {
      color:inherit;
      @include respond((
        line-height: 1,
      ));
    }

    & input[type="text"],
    & input[type="number"] {
      appearance: none;
      -webkit-appearance: none;
      width: 200px;
      height: 50px;
      border: 1px solid rgba(0,0,0,.54);
      padding: 0 10px;
      color: $dark-gray;
      margin-left: 8px;
      @include respond((
        font-size: 16px,
        line-height: 20px,
      ));
    }
  }


  // CHECKBOX
  .checkbox-input {
    display: flex;
    align-items: top;
    margin-right: 20px;
    margin-top: 28px;

    &.border {
      margin-right:0;
      @include respond((
        width: 100%,
        border-bottom: (2px solid transparentize($black, 1-0.42)) null,
      ));
    }

    input[type=checkbox] {
      appearance: none;
      -webkit-appearance: none;
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: top;
      border: 2px solid #010101;
      opacity: .54;
      transition: all .3s;
      position: relative;
      background-color: $white;
      flex-shrink: 0;


      &:checked {
        border-color: $azure;
        background-color: $azure;
        opacity: 1;

        &::after {
          opacity: 1;
        }
      }

      &::after {
        content: '';
        display: block;
        font-size: 1.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        width: 100%;
        height: 100%;
        background-image: url("https://static.moveon.org/giraffe/images/check-white.svg");
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
        opacity: 0;
        transition: all .3s;
      }
    }


    & input[type="text"],
    & input[type="number"] {
      appearance: none;
      -webkit-appearance: none;
      width: 200px;
      height: 50px;
      border: 1px solid rgba(0,0,0,.54);
      padding: 0 10px;
      color: $dark-gray;
      margin-left: 8px;
      @include respond((
        font-size: 16px,
        line-height: 20px,
      ));
    }
  }

  .checkbox-size-s {
    input[type=checkbox] {
      width: 20px;
      height: 20px;
    }
  }
  .checkbox-size-m {
    input[type=checkbox] {
      width: 25px;
      height: 25px;
    }
  }
  .checkbox-size-l {
    input[type=checkbox] {
      width: 30px;
      height: 30px;
    }
  }
  .checkbox-size-xl {
    input[type=checkbox] {
      width: 35px;
      height: 35px;
    }
  }


  // DISABLED FIELDS
  & input,
  & select {
    &[disabled] {
      border-color: transparentize($black, 1-0.1);
      cursor: not-allowed;
    }
  }


  // Use inline-table for submit buttons due to safari issues
  [type="submit"] {
    display: inline-table;
    text-align: center;
  }

  a, button {
    &.btn {
      font-size: 18px;
      @include btn--azure;
      padding: 5px 10px;
      min-width: 100px;

      svg {
        width: 14px;
        height: 14px;
        color: inherit;
        fill: currentcolor;
        margin-left: 10px;
      }

      &.azure {
        @include btn--azure;

        &:hover {

          svg {
            fill: $white;
          }
        }
      }

      &.transparent {
        @include btn--transparent;

        &:hover {
          color: $white;
        }
      }

      &.transparent-dark {
        @include btn--transparent-dark;

        &:hover {
          color: $white;
        }
      }

      &.transparent-light {
        @include btn--transparent-light;

        &:hover {
          color: $white;
        }
      }
    }
  }

  .buttons {
    margin:1.4em 0;
  }

}


// REMOVE BOX SHADOW ON INVALID FIELDS
input:focus,
input:invalid:focus,
input:focus:invalid:focus {
  box-shadow: none !important;
  border-color: $slate-gray;
}


// DATE TYPE INPUT
[type=date] {
  transition: all .3s;
  color: transparent;

  &:focus,
  .input-block.active & {
    color: $black;
  }
}


// Remove outline
input,
select,
textarea {
  outline: none;
}

// labels before input
form {
  .delete-file {
    svg:hover {
      path {
        cursor: pointer;
        fill: $red;
      }
    }
  }
  .input-block {
    .bold-label {
      font-weight: bold;
    }
    .input-white {
      background: $white;
      border: none;
      &.form-control {
        background: $white url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="39" height="13" fill="gray" viewBox="0 0 24 24"><path d="M12 21l-12-18h24z"/></svg>') no-repeat;
        background-position: right;
      }
    }
    &.label-before-input {
      margin-top:28px;
      label {
        display:block;
        margin:0 0 0.5em 0;
        position:relative;
        width:100%;
        top:0;
      }
    }
    &.active {
      color: $azure;
    }
  }
  .input-white {
    select, select:hover {
      background-color: $white;
      border-bottom: none;
      background: $white url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="39" height="13" fill="gray" viewBox="0 0 24 24"><path d="M12 21l-12-18h24z"/></svg>') no-repeat;
      background-position: right;
    }
    .select-caret {
      display: none;
    }
  }
}

/* variations depending bg color of parent */
.bg-off-white.relative-font-color-for-bg {
  .input-block {
    color: $dark-gray;
  }
  .checkbox-input, .radio-input {
    color: $dark-gray;
    label {
      color: $dark-gray;
    }
    &.label-above {
      color: $dark-gray;
      label {
        color: $dark-gray;
      }
    }
  }
  .radio-input {
    & input[type="text"],
    & input[type="number"] {
      color: $dark-gray;
    }
  }
  .checkbox-input {
    & input[type="text"],
    & input[type="number"] {
      color: $dark-gray;
    }
  }
}
.bg-ice-blue.relative-font-color-for-bg {
  .input-block {
    color: $light-gray;
  }
  .checkbox-input, .radio-input {
    color: $light-gray;
    label {
      color: $light-gray;
    }
    &.label-above {
      color: $light-gray;
      label {
        color: $light-gray;
      }
    }
  }
  .radio-input {
    & input[type="text"],
    & input[type="number"] {
      color: $light-gray;
    }
  }
  .checkbox-input {
    & input[type="text"],
    & input[type="number"] {
      color: $light-gray;
    }
  }
}


/** Panther Form style **/
.panther {
  input.form-control,
  select,
  textarea {
    border:0;
    border-radius:0;
    width:100%;
    /* from bootstrap */
    line-height: 1.5;
    padding: .374rem .75rem;
    background-color: white;
  }

  /* TODO: what to do in white background?  border or bg change? */

  label {
    margin-bottom: .5rem;
    line-height: 1.5;
    display: inline-block;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  .btn[type="submit"] {
    font-size: 18px;
    background-color: $azure;
    color: #fff;
    padding: 5px 10px;
    min-width: 100px;
  }
}
