h1, h2, h3, h4, h5 {
  text-transform: none;
  @include font(roboto-condensed-bold);
  line-height: 1.5em;
}

.rp {
  h1, h2, h3, h4, h5 {
    line-height: 1em;
  }
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: .8rem;
}
