h1, h2, h3, h4, h5 {
  text-transform: none;
  @include font(roboto-condensed-bold);
  line-height: 1.2em;
  margin-bottom: .3em;
}

.rp {
  h1, h2, h3, h4, h5 {
  margin-bottom: 0;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: .8rem;
}
