a,
a:visited,
a:active {
  text-decoration: none;
  transition: all .3s;
  color: $azure;

  &:hover {
    color: $azure;

    svg {
      fill: $azure;
    }
  }

  &.black {
    color: black;
    border-bottom: 2px solid $dark-gray-38;
    &:hover {
      color: $azure;
    }
  }

  svg {
    transition: all .3s;
  }
}
