.petition-thanks {

  &__heading {
    display: block;
    text-transform: uppercase;
    text-align: left;
    @include font(roboto-condensed-bold);
    @include respond((
      font-size: 21px null 48px,
    ));
  }


  &__content {
    @include respond((
      margin-top: 25px null 75px,
    ));

    p {
      @include font(roboto);
      @include respond((
        font-size: 12px null 18px,
        line-height: 21px null 27px,
      ));

      &:not(:first-child) {
        @include respond((
          margin-top: 25px null 42px,
        ));
      }
    }

    strong {
      @include font(roboto-bold);
    }

  }


  &__cta-group {
    @include respond((
      display: null nulll flex,
      justify-content: space-between,
      align-items: flex-start,
      margin-top: 19px null 23px,
    ));
  }

  &__cta {
    margin: 0 2px;
  }

  &__cta.messenger-branded {
    background-color: #0084FF;
    &:hover {
      background-color: #0076E5;
    }
  }

  &__cta.facebook-branded {
    background-color: #3B5998;
    &:hover {
      background-color: #355088;
    }
  }

  &__cta.whatsapp-branded, &__link.whatsapp-branded {
    background-color: #25D366;
    &:hover {
      background-color: #21BD5B;
    }
  }

  &__link.whatsapp-branded {
    color: #25D366;
  }

  @include media-breakpoint-up(lg) {
    &__cta.wamobile {
      display: none;
    }
  }

  @include media-breakpoint-down(md) {
    &__link.wadesktop {
      display: none;
    }
  }

  &__cta,
  &__cta:visited,
  &__cta:active {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: $azure;
    color: $white;
    @include font(roboto);
    @include respond((
      justify-content: flex-start null center,
      width: 100% null percentage(280/580),
      height: 41px,
      padding-left: 23px null 0,
      font-size: 13px,
      line-height: 20px,
    ));

    &:not(:first-child) {
      @include respond((
        margin-top: 10px null 0,
      ));
    }

    &[disabled] {
      background-color: $light-blue;
    }

    &:hover {
      background-color: $cerulean;
      color: $white;

      svg {
        fill: $white;
      }
    }

    svg {
      fill: $white;
      @include respond((
        width: 18px null 30px,
        height: 18px null 30px,
        padding: null null 5px,
        margin-right: 18px null 10px,
      ));
    }
  }


  &__copy {
    color: $azure;
  }


  &__text {
    cursor: default;
    @include respond((
      background-color: $white,
      margin-top: 25px null 38px,
      padding: 15px null (26px 32px),
      height: 167px,
      width: 100%,
      border: (1px solid $azure) null,
    ));


    @include font(roboto);
    @include respond((
      font-size: 11px null 12px,
      line-height: 15px null 18px,
    ));

    &:not(:first-child) {
      @include respond((
        margin-top: 1.2em,
      ));
    }
  }


  &__links {
    @include respond((
      margin-top: 25px null 40px,
    ));
  }


  &__link,
  &__link:link,
  &__link:visited,
  &__link:active {
    color: $azure;
    justify-content: flex-start;
    text-transform: none;
    @include font(roboto);
    @include respond((
      display: flex null inline-flex,
      font-size: 12px null 14px,
      line-height: 20px,
    ));

    &:not(:first-child) {
      @include respond((
        margin-top: 15px null 0,
        margin-left: null null 20%,
      ));
    }

    &:hover {
      color: $cerulean;

      svg {
        fill: $cerulean;
      }
    }

    svg {
      fill: $azure;
      @include respond((
        width: 30px,
        height: 30px,
        padding: 5px,
        margin-right: 10px,
      ));
    }
  }
}
