.petition-card {
  &__description {
    @include respond((
      margin-top: 20px null 32.5px
    ));

    &.trimmed {
      @include respond((
        display: block null none,
      ));
    }

    &.full {
      @include respond((
        display: none null block,
      ));
    }
  }

  &__more-cta {
    height: 36px;
    align-items: center;
    white-space: nowrap;
    color: inherit;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    @include respond((
      display: inline-flex null none,
      font-size: 14px,
      line-height: 1.5,
    ));

    svg {
      width: 12px;
      height: 8px;
      margin-left: 10px;
      margin-bottom: .15em;
    }
  }

  &__range {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include respond((
      margin-top: 25px null 30.5px,
    ));

    &__current,
    &__max {
      font-weight: 500;
      @include respond((
        font-size: 11px null 13px,
        line-height: 20px,
        letter-spacing: .3px null .4px,
      ));
    }

    &__bar {
      display: block;
      width: 100%;
      position: relative;
      @include respond((
        margin-top: 4px null 7px,
        height: 5px,
      ));

      &__current {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: $azure;
      }

      &__max {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $light-blue;
      }
    }
  }


  &__cta {
    display: flex;
    color: $black !important;
    @include btn--transparent;
    @include respond((
      margin-top: 16px null 37px,
      margin-left: auto,
      margin-right: auto,
      font-size: 14px null 18px,
      line-height: 21px null 24px,
    ));

    &:hover {
      color: $azure !important;
    }

    svg {
      width: 24px;
      height: 24px;
      padding: 6px 8px;
      margin-left: 8px;
    }
  }


  &__share {
    @include respond((
      margin-top: 26px null 0,
      position: null null absolute,
      top: null null 39px,
      right: null null 28px,
    ));

    &-heading {
      font-weight: 700;
      @include respond((
        display: block null none,
        font-size: 14px,
        line-height: 21px,
      ));
    }

    &-icons {
      display: flex;
      align-items: center;
      height: 24px;
      @include respond((
        margin-top: 14px null 0,
      ));
    }

    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    svg {
      display: block;
      width: 24px;
      height: 24px;
      @include respond((
        fill: $black,
        padding: 5px null,
      ));
    }

    use {
      width: 100%;
    }

    &-icons {
      .petition-card__share-icon {

        &:not(:first-child) {
          @include respond((
            margin-left: 24px null 15px,
          ));
        }
      }
    }

    // Make tooltip positioning look better
    .tooltipped-down::before {
      right: 1px;
    }
}


  // EXPANDED DESCRIPTION STATE
  &.description-expanded {
    .petition-card__description {
      &.trimmed {
        display: none;
      }
      &.full {
        display: block;
      }
      & + .petition-card__more-cta {
        display: none;
      }
    }
  }


}
