.petition-thanks {

  &__heading {
    display: block;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    @include respond((
      font-size: 21px null 48px,
    ));
  }


  &__content {
    @include respond((
      margin-top: 25px null 75px,
    ));

    p {
      font-family: Roboto, sans-serif;
      font-weight: 400;
      @include respond((
        font-size: 14px null 18px,
        line-height: 21px null 27px,
      ));

      &:not(:first-child) {
        @include respond((
          margin-top: 25px null 42px,
        ));
      }
    }

    strong {
      font-family: Roboto, sans-serif;
      font-weight: 700;
    }

  }


  &__cta-group {
    @include respond((
      display: null nulll flex,
      justify-content: space-between,
      align-items: flex-start,
      margin-top: 19px null 23px,
    ));
  }


  &__cta,
  &__cta:visited,
  &__cta:active {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: $azure;
    color: $white;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    @include respond((
      justify-content: flex-start null center,
      width: 100% null percentage(280/580),
      height: 41px,
      padding-left: 23px null 0,
      font-size: 12px null 14px,
      line-height: 20px,
    ));

    &:not(:first-child) {
      @include respond((
        margin-top: 10px null 0,
      ));
    }

    &[disabled] {
      background-color: $light-blue;
    }

    &:hover {
      background-color: $cerulean;
      color: $white;

      svg {
        fill: $white;
      }
    }

    svg {
      fill: $white;
      @include respond((
        width: 14px null 30px,
        height: 14px null 30px,
        padding: null null 5px,
        margin-right: 18px null 10px,
      ));
    }
  }


  &__copy {
    color: $azure;
  }


  &__text {
    cursor: default;
    @include respond((
      background-color: $white,
      margin-top: 25px null 38px,
      padding: 15px null (26px 32px),
      height: 167px,
      width: 100%,
      border: (1px solid $azure) null,
    ));


    font-family: Roboto, sans-serif;
    font-weight: 400;
    @include respond((
      font-size: 11px null 12px,
      line-height: 15px null 18px,
    ));

    &:not(:first-child) {
      @include respond((
        margin-top: 1.2em,
      ));
    }
  }


  &__links {
    @include respond((
      margin-top: 25px null 40px,
    ));
  }


  &__link,
  &__link:link,
  &__link:visited,
  &__link:active {
    color: $azure;
    justify-content: flex-start;
    text-transform: none;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    @include respond((
      display: flex null inline-flex,
      font-size: 12px null 14px,
      line-height: 20px,
    ));

    &:not(:first-child) {
      @include respond((
        margin-top: 15px null 0,
        margin-left: null null 98px,
      ));
    }

    &:hover {
      color: $cerulean;

      svg {
        fill: $cerulean;
      }
    }

    svg {
      fill: $azure;
      @include respond((
        width: 30px,
        height: 30px,
        padding: 5px,
        margin-right: 10px,
      ));
    }
  }
}
