.sign-form {
  .input-block label {
    color: $black;
  }

  h2 {
    margin-bottom: 40px;
    @include respond((
      font-size: 25px null,
    ))
  }

  &__agreement {
    color: #3c434c;
    @include font(roboto);
    @include respond((
      margin-top: 20px,
      font-size: 13px,
      line-height: 16.5px,
    ));
  }

  &__link:link,
  &__link:visited,
  &__link:active {
    display: block;
    color: $dark-gray;
    @include font(roboto-bold);
    @include respond((
      margin-top: 10px,
      font-size: 13px,
      line-height: 16.5px,
    ));
  }

  button[type="submit"] {
    display: table;
    width: 100%;
    @include btn--azure;
    background-color: $red;
    &:hover {
      background-color: darken($red, 10);
    }
    @include respond((
      margin-top: 32px,
      font-size: 20px,
      line-height: 34px,
    ));
  }

  &__fixed-button {
    @include respond((
      display: block none null
    ));
    text-align: center;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 500;
    bottom: 0;
    left: 0;

    button {
      transition: bottom 0.25s;
      width: 100%;
      height: 100%;
      position: relative;
      bottom: 0%;
      @include btn--azure;
      @include respond((
        font-size: 21px,
      ));
    }


    &--hidden {
      pointer-events: none;
      button {
        bottom: -100%;
      }
    }
  }

  textarea {
    height: 100px;
  }
}
