{% set markup = { blocks: ['markup']} %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">                <meta charset="utf-8">
        <title>{% block title %}Content block - Move On Styleguide{% endblock %}</title>
        <link rel="stylesheet" href="styles/vendors.css" />
        <link rel="stylesheet" href="styles/main.css" />
        <link rel="stylesheet" href="styles/styleguide.css" />
    </head>
    <body class="giraffe {% block bodyclass %}styleguide {% endblock %}">
        <div style="display:none">{% include 'components/symbol/svg/sprite.symbol.svg' %}</div>
        <div class="wrapper">

          {% include 'styleguide/header' %}

          <div class="styleguide-content">

            
            {# Section Content block #}
            {% embed 'styleguide/block' %}
              
              {% block content %}
                <div id="content-block-example">
                  {% embed 'components/content-block' %}
                      {% block content_block_content %}
                        <h2>This is a content block!</h2>
                        <p>Use the options below to customize it, once you are done use the console to see the final HTML.</p>
                        <div class="video-wrapper">
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/8Pa9x9fZBtY?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                      {% endblock %}
                  {% endembed %}
                </div>
                <h2 class="mt-3 mb-3">Markup code, if you copy this, remove the style attribute</h2>
                <pre class="styleguide-markup"><code></code></pre>
                <h2 class="mt-3 pb-3">Options</h2>
                <form>
                  <div id="content-block-options" class="mt-3 mb-3">
                    <div class="input-block">
                      <input type="text" name="content_block_width" id="id_content_block_width" value="100%" style="max-width:100px">
                      <label for="id_content_block_width">Width</label>
                      <botton class="button">Set width</botton>
                    </div>
                    <div class="input-block">
                      <textarea type="text" name="content_block_html" id="id_content_block_html" value="100%" style="min-height:300px;"></textarea>
                      <label for="id_content_block_html">HTML</label>
                      <botton class="button">Set the content block HTML</botton>
                    </div>
                  </div>
                </form>
                  
              {% endblock %}
              
              {% block heading %}Content block{% endblock %}
                
            {% endembed %}
            
            
          </div>

        </div>

        <script src="scripts/vendors.js"></script>
        <script src="scripts/app.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        
        <script type="text/javascript" charset="utf-8">
          (function($) {
            let $content_block = $('#content-block-example .content-block:first');
            
            var classes_options = {
              'Background Classes' : [
               'bg-white',
               'bg-off-white',
               'bg-gray',
               'bg-light-gray',
               'bg-slate-gray',
               'bg-dark-gray-38',
               'bg-dark-gray',
               'bg-light-gray',
               'bg-black',
               'bg-deep-sea-blue',
               'bg-cerulean',
               'bg-azure',
               'bg-light-blue',
               'bg-ice-blue',
               'bg-red'
              ]
            }
            
            /* https://v4-alpha.getbootstrap.com/utilities/spacing/ */
            classes_options['Spacing Margin Classes'] = [];
            classes_options['Spacing Padding Classes'] = [];
            
            classes_options['Spacing Margin Classes'].push('mx-auto');
            
            let spacing_types = [
              'm',
              'p'
            ];
            
            let spacing_sides = [
              't',
              'b',
              'l',
              'r',
              'x',
              'y',
              'blank'
            ];
            
            let breakpoints = [
              'sm',
              'md',
              'lg',
              'xl'
            ];
            
            let spacing_sizes = [
              '0',
              '1',
              '2',
              '3',
              '4',
              '5'
            ];
            
            for (var spacing_types_k in spacing_types) {

              for (var spacing_sides_k in spacing_sides) {

                for (var spacing_sizes_k in spacing_sizes) {
                                
                  var spacing_class = spacing_types[spacing_types_k].toString();

                  if (spacing_sides[spacing_sides_k] != 'blank') {
                    spacing_class = spacing_class + spacing_sides[spacing_sides_k].toString(); 
                  }
                  
                  spacing_class = spacing_class + '-'
                  spacing_class = spacing_class + spacing_sizes[spacing_sizes_k].toString();
                  
                  console.log('spacing_types[spacing_types_k], spacing_types_k: ', spacing_types[spacing_types_k], spacing_types_k, spacing_types);
                  
                  
                  if (spacing_types[spacing_types_k] == 'm') {
                    classes_options['Spacing Margin Classes'].push(spacing_class);
                  }
                  if (spacing_types[spacing_types_k] == 'p') {
                    classes_options['Spacing Padding Classes'].push(spacing_class);
                  }
                }
                for (var spacing_sizes_k in spacing_sizes) {
                  for (var breakpoints_k in breakpoints) {
                                
                    var spacing_class = spacing_types[spacing_types_k].toString();

                    if (spacing_sides[spacing_sides_k] != 'blank') {
                      spacing_class = spacing_class + spacing_sides[spacing_sides_k].toString(); 
                    }
                  
                    spacing_class = spacing_class + '-'
                  
                    spacing_class = spacing_class + breakpoints[breakpoints_k].toString();
                  
                    spacing_class = spacing_class + '-'
                    spacing_class = spacing_class + spacing_sizes[spacing_sizes_k].toString();
                  
                    console.log('spacing_types[spacing_types_k], spacing_types_k: ', spacing_types[spacing_types_k], spacing_types_k, spacing_types);
                  
                  
                    if (spacing_types[spacing_types_k] == 'm') {
                      classes_options['Spacing Margin Classes'].push(spacing_class);
                    }
                    if (spacing_types[spacing_types_k] == 'p') {
                      classes_options['Spacing Padding Classes'].push(spacing_class);
                    }
                  }
                }
                
              }              
            }
            
            
           
            
            //add options
            var $content_bolock_options = $('#content-block-options');
            for (var k in classes_options) {
              let $options_tmpl = $('<div class="content_block_classes_options mt-3 mb-3">\
                <h3 class="mt-3">'+k+'</h3>\
                <div class="options"></div>\
              </div>');
              
              
              let classes = classes_options[k];
              
              for (var k2 in classes) {
                let $option_tmpl = '\
                  <div class="checkbox-input">\
                    <input id="content_block_class_option_'+classes[k2]+'" type="checkbox" name="content_block_class_option" value="'+classes[k2]+'" id="some_name">\
                    <label for="content_block_class_option_'+classes[k2]+'">'+classes[k2]+'</label>\
                  </div>\
                '; 
                $options_tmpl.find('.options:first').append($option_tmpl);
              }
              $options_tmpl.appendTo('#content-block-options');
            }
            
            $(document).on('change', 'input[name="content_block_class_option"]', function(e) {
              
              $content_block.removeClass();
              $content_block.addClass('content-block');
              $('input[name="content_block_class_option"]:checked').each(function() {
                $content_block.addClass($(this).val());
              });
              $('.styleguide-markup:first code').html($content_block.parent().html().replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;'));
            });
            $('input[name="content_block_class_option"]').change();
            
            
            $(document).on('change', 'input[name="content_block_width"]', function(e) {
              let width = $(this).val();
              $content_block.css('width', width);
              $('.styleguide-markup:first code').html($content_block.parent().html().replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;'));
            });
            $('input[name="content_block_width"]').change();
            
            $(document).on('change', 'textarea[name="content_block_html"]', function(e) {
              let html = $(this).val();
              if (html == '') {
                html = '<h2>This is a content block!</h2>\
<p>Use the options below to customize it, once you are done use the console to see the final HTML.</p>\
<div class="video-wrapper">\
  <iframe width="560" height="315" src="https://www.youtube.com/embed/8Pa9x9fZBtY?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>\
</div>\
<p>\
<img src="https://images.pexels.com/photos/162971/potatoes-french-mourning-funny-162971.jpeg">\
</p>';
              }
              $content_block.html(html);
              $('.styleguide-markup:first code').html($content_block.parent().html().replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;'));
            });
            $('textarea[name="content_block_html"]').change();
            
            
          })(jQuery);
        </script>
        
        <style type="text/css" media="screen">
          .giraffe form .checkbox-input {
            display:inline-flex;
          }
        </style>
        
    </body>
</html>
