{% extends 'layout' %}

{% block bodyclass %}rp{% endblock %}
{% block content %}
<div class="container">

    <h1>MoveOn Styles</h1>


  <h2>Components</h2>
    <ul>
      <li><a href="styleguide/basics.html">Basics: Colors, Static content</a></li>
      <li><a href="styleguide/grid.html">Grid</a></li>
      <li><a href="styleguide/forms.html">Form Components</a></li>
      <li><a href="styleguide/social.html">Social links, etc</a></li>
    </ul>
    <h3>TODO</h3>
    <ul>
      <li><a href="styleguide/headers.html">Headers</a></li>
      <li><a href="styleguide/forms-panther.html">Form Components (Panther)</a></li>
      <li><a href="styleguide/logos.html">Logos</a></li>
      <li><a href="styleguide/style-integration.html">Integrating other CSS/styles</a></li>
    </ul>


  <h2>Legacy RedPeak Original Designs/Inspirations</h2>
  <h3>Wordpress (front.moveon.org)</h3>
    <ul>
      <li><a href="redpeak_legacy/front.html">front.moveon.org homepage</a></li>
    </ul>
  </h3>
  <h3>Petitions (petitions.moveon.org)</h3>
    <ul>
      <li><a href="redpeak_legacy/petition.html">petition sign page</a></li>
      <li><a href="redpeak_legacy/petition-thanks.html">petition sign thanks/share page</a>
    </ul>
  <h3>Action Kit (act.moveon.org)</h3>
    <ul>
      <li><a href="redpeak_legacy/donate-v3.html">donate v3 (conservative rebrand)</a></li>
      <li><a href="redpeak_legacy/donate-v2.html">donate v2 (rebrand)</a></li>
      <li><a href="redpeak_legacy/donate-v1.html">donate (early iteration)</a></li>
      <li><a href="redpeak_legacy/donate-thanks.html">donation thanks page</a></li>
      <li><a href="redpeak_legacy/donate-quickpay-v3.html">donation quickpay v3</a></li>
      <li><a href="redpeak_legacy/donate-quickpay.html">donation quickpay</a></li>
    </ul>


</div>
{% endblock %}
