{% extends 'layout' %}

{% block bodyclass %}petition rp{% endblock %}

{% block content %}
    <div class='container'>
      <div class='row justify-content-center'>
        <div class='col-10 col-md-7 petition-thanks__container'>
          {% include 'components/petition-thanks' %}
        </div>
      </div>
    </div>
{% endblock %}
