{% extends 'layout' %}

{% block bodyclass %}petition rp{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 petition-info-column">
        {% include 'components/petition-card' %}
        {% include 'components/petition-details' %}
      </div>
      <div class="col-lg-3 offset-lg-1 petition-sign-column">
        <div>
          {% include 'components/sign-form' %}
        </div>
      </div>
    </div>
  </div>

  {% include 'components/sign-form-modal' %}

  <button class="sign-form__modal-toggle">Sign Now</button>
{% endblock %}
