{% set markup = { blocks: ['markup']} %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">                <meta charset="utf-8">
        <title>{% block title %}Form Elements - Move On Styleguide{% endblock %}</title>
        <link rel="stylesheet" href="styles/vendors.css" />
        <link rel="stylesheet" href="styles/main.css" />
        <link rel="stylesheet" href="styles/styleguide.css" />
    </head>
    <body class="giraffe {% block bodyclass %}styleguide {% endblock %}">
        <div style="display:none">{% include 'components/symbol/svg/sprite.symbol.svg' %}</div>
        <div class="wrapper">

          {% include 'styleguide/header' %}

          <div class="stylguide-content">


            {# Section Stuff #}
            {% embed 'styleguide/block' %}
                {% block heading %}Form fields{% endblock %}
                {% block content %}
                <div class="container">
                  <div class="row">
                    <div class="col-md-6">
                      
                      <form>
                        <div class="input-block m-0 mt-4 pl-0 pr-0">
                          <input type="text" name="some_name" value="" id="some_name">
                          <label>Label - Text field</label>
                        </div>
                        <div class="input-block label-before-input m-0 mt-4 pl-0 pr-0">
                          <label>Label - Text field with label-before-input class on the parent</label>
                          <input type="text" name="some_name" value="" id="some_name">
                        </div>
                        <div class="input-block m-0 mt-4 pl-0 pr-0">
                          <select name="select_a" id="id_select_a"><option value="">Select one</option><option value="Y">Yes</option> <option value="N">No</option></select>
                          <label>Label - Select with empty value option and option text</label>
                        </div>
                        <div class="input-block m-0 mt-4 pl-0 pr-0">
                          <select name="select_a" multiple id="id_select_a"><option value="">Select one</option><option value="Y">Yes</option> <option value="N">No</option></select>
                          <label>Label - Select multiple with empty value option and option text</label>
                        </div>
                        <div class="input-block label-before-input m-0 mt-4 pl-0 pr-0">
                          <label>Label - Select with empty value option and option text and with label-before-input class on the parent</label>
                          <select name="select_a" id="id_select_a"><option value="">Select one</option><option value="Y">Yes</option> <option value="N">No</option></select>
                          <svg class="select-caret" width="12px" height="8px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <use xlink:href="#caret-down"></use>
                          </svg>
                        </div>
                        <div class="input-block m-0 mt-4 pl-0 pr-0">
                          <select name="select_a" id="id_select_a"><option value=""></option><option value="Y">Yes</option> <option value="N">No</option></select>
                          <label>Label - Select with empty value option and without option text</label>
                        </div>
                        <div class="input-block textarea-input m-0 mt-4 pl-0 pr-0">
                          <textarea></textarea>
                          <label>Label - Textarea with textarea-input class on the parent</label>
                        </div>
                        <div class="input-block textarea-input label-before-input m-0 mt-4 pl-0 pr-0">
                          <label>Label - Textarea with width: 27.5em; height: 3.75em; on the inline style (Action Kit)</label>
                          <textarea style="width: 27.5em; height: 3.75em; "></textarea>
                        </div>
                        <div class="input-block textarea-input label-before-input m-0 mt-4 pl-0 pr-0">
                          <label>Label - Textarea with textarea-input and label-before-input class on the parent</label>
                          <textarea></textarea>
                        </div>
                        <div class="input-block m-0 mt-4 pl-0 pr-0">
                          <input type="text" name="some_name" value="" id="some_name">
                          <label>Label - Text field</label>
                        </div>
                        <div class="input-block m-0 mt-4 pl-0 pr-0">
                          <textarea></textarea>
                          <label>Label - Textarea without textarea-input class on the parent</label>
                        </div>
                        <div class="checkbox-input border label-above m-0 mt-4 pl-0 pr-0">
                          <label for="test_checkbox">Checkboxes with .border and .label-above class</label>
                          <input type="checkbox" name="test_checkbox" id="test_checkbox"> I'm human
                        </div>
                        <div class="checkbox-input label-above m-0 mt-4 pl-0 pr-0">
                          <label for="test_checkbox">Checkboxes without .border and .label-above class</label>
                          <input type="checkbox" name="test_checkbox" id="test_checkbox"> I'm human
                        </div>
                        <div class="checkbox-input m-0 mt-4 pl-0 pr-0">
                          <input type="checkbox" name="test_checkbox_2" id="test_checkbox_2">
                          <label for="test_checkbox_2">Checkboxes without .label-above class</label>
                        </div>
                        <div class="radio-input label-above m-0 mt-4 pl-0 pr-0">
                          <label for="test_radio">Radios without .border and .label-above class</label>
                          <input type="radio" name="test_radio" id="test_radio" checked> I'm human
                        </div>
                        <div class="radio-input border label-above m-0 mt-4 pl-0 pr-0">
                          <label for="test_radio">Radios with .border and .label-above class</label>
                          <input type="radio" name="test_radio" id="test_radio" checked> I'm human
                        </div>
                        
                        <h3 class="mt-4 mb-3">Checkbox sizes</h3>
                        
                        <div class="checkbox-input m-0 mt-4 pl-0 pr-0 checkbox-size-1">
                          <input type="checkbox" name="test_checkbox_2">
                          <label>Checkboxes with the class checkbox-size-1 on the parent</label>
                        </div>

                        <div class="checkbox-input m-0 mt-4 pl-0 pr-0 checkbox-size-2">
                          <input type="checkbox" name="test_checkbox_2">
                          <label>Checkboxes with the class checkbox-size-2 on the parent</label>
                        </div>
                        
                        <div class="checkbox-input m-0 mt-4 pl-0 pr-0 checkbox-size-3">
                          <input type="checkbox" name="test_checkbox_2">
                          <label>Checkboxes with the class checkbox-size-3 on the parent</label>
                        </div>
                        
                        <div class="checkbox-input m-0 mt-4 pl-0 pr-0 checkbox-size-4">
                          <input type="checkbox" name="test_checkbox_2">
                          <label>Checkboxes with the class checkbox-size-4 on the parent</label>
                        </div>
                        
                        
                        <h3 class="mt-4 mb-3">Radios and checkboxes without .border and .label-above classes</h3>
                        
                        <div class="radio-input m-0 mt-4 pl-0 pr-0">
                          <input type="radio" name="test_radio_2" id="test_radio_2">
                          <label for="test_radio_2">a</label>
                        </div>
                        <div class="radio-input m-0 mt-4 pl-0 pr-0">
                          <input type="radio" name="test_radio_2" id="test_radio_3">
                          <label for="test_radio_3">b</label>
                        </div>
                        <div class="radio-input m-0 mt-4 pl-0 pr-0">
                          <input type="radio" name="test_radio_2" id="test_radio_4">
                          <label for="test_radio_4">c</label>
                        </div>
                        <div class="checkbox-input m-0 mt-4 pl-0 pr-0">
                          <input type="checkbox" name="test_checkbox_2" id="test_checkbox_2">
                          <label for="test_checkbox_2">Checkboxes without .border and .label-above class</label>
                        </div>
                        
                        <h3 class="mt-4 mb-3">.giraffe-has-errors</h3>
                        
                        <div class="checkbox-input giraffe-has-errors m-0 mt-4 pl-0 pr-0">
                          <input type="checkbox" name="test_checkbox_2" id="test_checkbox_2">
                          <label for="test_checkbox_2">Checkboxes without .border and .label-above class and class giraffe-has-errors</label>
                        </div>
                        
                        <div class="radio-input border label-above giraffe-has-errors m-0 mt-4 pl-0 pr-0">
                          <label for="test_radio">Radios with .border, .giraffe-has-errors and .label-above class</label>
                          <input type="radio" name="test_radio" id="test_radio" checked> I'm human
                        </div>
                        
                        <div class="checkbox-input border label-above giraffe-has-errors m-0 mt-4 pl-0 pr-0">
                          <label for="test_checkbox">Checkboxes with .giraffe-has-errors, .border and .label-above class</label>
                          <input type="checkbox" name="test_checkbox" id="test_checkbox"> I'm human
                        </div>

                        <div class="input-block label-before-input giraffe-has-errors m-0 mt-4 pl-0 pr-0">
                          <label>Label - Text field with .giraffe-has-errors, label-before-input class on the parent</label>
                          <input type="text" name="some_name" value="" id="some_name">
                        </div>
                        
                        <div class="input-block textarea-input label-before-input giraffe-has-errors m-0 mt-4 pl-0 pr-0">
                          <label>Label - Textarea with .giraffe-has-errors, textarea-input and label-before-input class on the parent</label>
                          <textarea></textarea>
                        </div>
                        
                        <div class="input-block label-before-input mt-4 giraffe-has-errors m-0 mt-4 pl-0 pr-0">
                          <label>Label - Select with empty value option and option text and with .label-before-input and .giraffe-has-errors class on the parent</label>
                          <select name="select_a" id="id_select_a"><option value="">Select one</option><option value="Y">Yes</option> <option value="N">No</option></select>
                        </div>
                        
                        <div class="buttons">
                          <button class="btn">Button</button>
                          <ul class="giraffe-errors-list">
                            <li>I'm an error'</li>
                          </ul>
                        </div>
                        
                      </form>
                      
                      
                    </div>
                  </div>
                </div>
                {% endblock %}
            {% endembed %}

          </div>

        </div>

        <script src="scripts/vendors.js"></script>
        <script src="scripts/app.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
