<div class="styleguide-header header">
  <div class="mo-container">
    <a href="/" class="logo">
      <img src="../images/logo.svg" alt="Move On Logo">
    </a>
    <h1>Styleguide</h1>



    <div id="nav" class="mo-nav">
      <span class="mo-nav__title">Menu</span>

      <button class="mo-nav__close">
        <svg><use xlink:href="#close"/></svg>
      </button>
    </div>

    <button class="mo-nav__toggle">
      <svg><use xlink:href="#burger"/></svg>
    </button>
  </div>
</div>
