body.survey-page
{
  .aa_makeover {
    h1 {
      font-size: 2.25rem;
      text-transform: uppercase;
    }
    h2 {
      font-size: 28px;
      @include font(roboto);
      font-weight:bold;
    }
    a {
        color: $dark-blue;
        display: inline;
    }
    label {
      font-weight:normal;
    }
    #known_user {
      text-align:center;
      h3 {
        @include font(roboto);
        font-size: 16px;
      }
    }

    #survey-questions {
      // Placeholder
      ::placeholder {
        color: $placeholder-gray;
        // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
        opacity: 1;
      }
    }
    
    .known_user_firstname {
      font-weight: 700;
    }
    .btn.cta {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        @include btn--azure;
        padding: 10px 20px;
        color: $white;
        padding: 13px 19px;
        @include font(roboto-condensed);
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        width: 100%;
        background-color:$azure;
    }
    
    // RADIO
    .radio-input {
      //font-size:20px;

      input[type=radio] {
        border: 1px solid #000000;
        margin-right:0.25em;

        &:checked {
          border: 0px;
          background-color: $azure;
          opacity: 1;
          box-shadow: none;
        }
      }
    }

    label {
      color:inherit;
      @include respond((
        line-height: 1,
      ));
    }

    ul#ak-errors {
      margin-left: 0px;
    }
  }
}
