.giraffe {
  .cpa {
    #unknown_user {
      background-color: $lighter-gray;
      padding:27px;
      .input-block {
      
        label {
          font-size: 15px;
        }

        input {
          width: 100%;
          border: 0px;
          background-color: $white;
        }
    
      }

    }

    .modal-background {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 2; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgba(0,0,0,0.62);
    }
    .modal-content {
      background-color: #fff;
      margin: 200px auto auto auto;
      width: 80% !important;
      padding-top: 40px;
      padding-bottom: 40px;
      @media (min-width: $bp-md) {
        width: 50% !important;
      }
    }
    .modal-buttons {
      display: flex;
      flex-direction: column;
      align-content: center;
      @media (min-width: $bp-md) {
        flex-direction: row;
        flex-wrap: wrap;
    }
    }
    #modal-confirm, #modal-cancel {
      background: #296190;
      color: #FFFFFF;
      text-align: center;
      font-size: 18px;
      font-family: Roboto Condensed, sans-serif;
      font-weight: 700;
      width: 90%;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px;
      text-transform: unset;
      transition: width 0s;
      @media (min-width: $bp-md) {
        width: 30%;
      }
      }
    #modal-confirm {
      margin-left:auto;
    }
    #modal-cancel {
      margin-right:auto;
    }


    form #survey-questions label {
      font-size:25px;
    }
    button.btn {
      background-color: $lapis-blue;
      @include hover {
        background-color: $lapis-blue;
      }
    }
  }
}
.giraffe .pagename-manage-opt-out-preferences .cpa {
  #unknown_user {
    background-color: unset;
    h2 {
      display:none;
    }
  }
}