body.donate {

  @media screen and (min-width: $bp-md) {
    .header {
      .logo {
        left: 15% !important;
      }
    }
  }

  .mo-nav {
    display: none;
  }

  form {
    box-shadow: none;
  }

  #content {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
  }

  .donate-terms {
    border-top: 1px solid $light-gray;
  }


}
