@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

html {
  max-width: 100%;
}

body.donate-page {
  padding-top: 0;

  a {
    color: $azure;
    text-decoration: underline;
    display: block;
  }

  button[type="submit"] {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 6vw;
    background: $azure;
    color: $white;
    padding: 2px;
    width: 100%;
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    @media (min-width: $bp-md) {
      font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    }
  }

  button.ak-styled-submit-button {
    display: block;
  }

  checkbox {
    label {
      font-size: 15px;
    }
  }

  div[role="main"] {
    padding-top: 96px;
    padding-left: 0;
    padding-right: 0;
    @media (min-width: $bp-md) {
      padding-top: 0;
    }
  }

  h3 {
    font-size: 27px;
    font-weight: 700;
  }

  .form-section--wrapper .form-group label {
    margin-bottom: 0 !important;
  }

  button[type="submit"] {
    margin: 0 auto;
  }

  form {
    padding: 10px 22px;
    @media (min-width: $bp-md) {
      padding: 10px 35px;
    }

    h2 {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1.5em;
      font-weight: 200;
      color: $moriginal-gray-medium;
      text-transform: uppercase;
      letter-spacing: -0.05em;
    }

    h3 {
      font-family: "Roboto Condensed", sans-serif;
    }

    input {
      font-size: 18px;
      line-height: 1.428571429;
      color: $moriginal-gray-medium;
      background-color: $white;
      background-image: none;
      height: 39px;
    }

    input[type=radio] {
      height: auto;
      display: inline-block;
    }

    input[type=text] {
      cursor: text;
    }

    label {
      margin-bottom: 5px;
      color: $moriginal-gray-dark;
      font-weight: 700;
      font-size: 18px;
    }

    .form-group {
      margin-bottom: 15px;
    }
  }

  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .alt-payment-links {
    float: right;
    margin-top: 4px;
    font-size: 14px;
    line-height: 20px;
    @media (min-width: $bp-md) {
      margin-top: 8px;
    }

    a {
      color: $moriginal-blue-medium;
      cursor: pointer;
    }

    .alert,
    ul#ak-errors > li,
    ul.ak-err > li,
    ul.errorlist > li {
      padding: 0;
    }

    .paypal-link-container {
      display: inline-block;
    }
  }

  .alt-payment-links + h3 {
    font-family: "Roboto Condensed", sans-serif;
    margin-top: 0;
  }

  .ask-sub-text {
    font-family: "Roboto Condensed", sans-serif;
    background-color: $azure;
    color: $black;
    font-size: 1.8em;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    max-width: fit-content;

    p {
      margin-bottom: 0;
    }

    p[style*="font-size: 80%"] {
      font-family: "Roboto", sans-serif;
      color: $black;
      font-weight: 600;
      text-align: center;
      background: $white;
    }
  }

  h1.ask-text {
    color: $black;
    margin: 0 0 1em;
    font-size: 1.25em;
    margin: 1em 0.5em 1em 0.5em !important;

    p {
      font-size: 1.25em;
    }
  }

  .big-checkbox-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 50px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: all 0.15s linear;
    font-size: 16px;

    .checkbox-label {
      @media (min-width: $bp-md) {}
    }
    /* NOTE: :checked / :not() acts as a fallback for < ie8
      as they're ignored and the native checkbox should display */
    #id_donation_type_recurring:checked,
    #id_donation_type_recurring:not(:checked),
    #retired_checkbox:checked,
    #retired_checkbox:not(:checked) {
      display: none;
    }

    #id_donation_type_recurring:checked + .checkbox-overlay,
    #id_donation_type_recurring:not(:checked) + .checkbox-overlay,
    #retired_checkbox:checked + .checkbox-overlay,
    #retired_checkbox:not(:checked) + .checkbox-overlay {
      position: relative;
      width: 25px;
      height: 25px;
      border: 2px solid black;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
      transition: background 0.1s ease;
      cursor: pointer;

      &:after {
        content: "";
        position: absolute;
        width: 11px;
        height: 19px;
        top: 0;
        left: 6px;
        opacity: 0;
        transform: rotate(45deg) scale(0);
        border-right: 4px solid $white;
        border-bottom: 4px solid $white;
        transition: opacity 0.2s ease, transform 0.4s ease;
      }
    }

    .checkbox-label {
      flex: 1;
      padding-left: 10px;
      color: $black;
      font-weight: 700;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      width: 85%;
      @media screen and (min-width: $bp-md) {
        font-size: 19px;
        width: 91%;
        display: inline-block;
      }
    }

    #id_donation_type_recurring:checked ~ .checkbox-overlay,
    #retired_checkbox:checked ~ .checkbox-overlay {
      background: $azure;

      &:after {
        opacity: 1;
        transform: rotate(45deg) scale(1);
      }
    }
  }

  .check-link {
    margin-top: 0;
    display: inline-block;
    text-align: right;
    font-weight: 400;

    a {
      width: 100%;
    }
  }

  .credit-card-icons-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .check-link,
  .paypal-link-or {
    display: none;
    @media (min-width: $bp-md) {
      display: inline-block;
    }
  }

  .container {
    @media (min-width: $bp-md) {
      padding-top: 0;
    }
  }

  .donation-container {
    // display: flex;
    // flex-flow: column nowrap;
    // @media screen and (min-width: $bp-md) {
    //   flex-flow: row wrap;
    // }
  }

  .custom-radio-payment {
    font-weight: normal !important;
    font-size: 16px !important;
  }

  ul.donation-amount-choices {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: $white;
    width: 102%;

    input {
      display: none;
    }

    li {
      display: inline-block;
      width: 49%;
      @media screen and (min-width: $bp-md) {
        width: 32%;
      }

      label {
        background: $moriginal-gray-light;
        color: $black;
        display: inline-block;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
        font-size: 18px;
        margin: 2px 1px;
        width: 100%;
        text-align: center;
        line-height: 2.25em;
      }

      label:hover {
        background: $azure;
        color: $white;
      }

      label.ak-radio-checked {
        background-color: $azure;
      }
    }

    li#other_amount_container {
      box-shadow: inset 0 0 0 2px black;
      margin-right: 2px;
      padding: 0 10px;

      label {
        background: none;
        color: $black;
        box-shadow: none;
        text-align: left;
        top: 2px;
      }
      @media screen and (min-width: $bp-md) {
        width: 65%;
      }

      input.amount_other_field {
        border: none;
        display: inherit;
        width: 70%;
        padding: 0;
        @media screen and (min-width: $bp-md) {
          border: none;
          display: inherit;
          width: 75%;
        }
      }

      input.amount_other_field:-ms-input-placeholder,
      input.amount_other_field::-webkit-input-placeholder,
      input.amount_other_field::placeholder {
        /* Edge */
        font-weight: 100;
        font-style: italic;
        white-space: pre-line;
        font-size: 2.75vw;
        @media screen and (min-width: $bp-md) {
          font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
        }
      }

      input.amount_other_field:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-weight: 100;
        font-style: italic;
        white-space: pre-line;
        font-size: 2.75vw;
        @media screen and (min-width: $bp-md) {
          font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
        }
      }

      input.amount_other_field::placeholder {
        font-weight: 100;
        font-style: italic;
        white-space: pre-line;
        font-size: 2.75vw;
        @media screen and (min-width: $bp-md) {
          font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
        }
      }
    }
    /* ---product templateset specific styles--- */
    li#other-amount-container-product {
      width: auto;

      label {
        background: none;
        color: $moriginal-blue-medium;
        box-shadow: none;
        float: left;
        text-align: left;
        width: auto;
      }

      span.currency_sym {
        float: left;
        margin-right: 0.5em;
      }

      input.amount_other_field {
        float: left;
        margin-bottom: 1em;
        display: block;
        width: 5em;
      }
    }
    /* ---end product templateset specific styles ---*/
  }

  .donation-container .checkbox input[type="checkbox"] {
    height: 25px;
    width: 25px;
  }

  .faded {
    color: $moriginal-gray-medium;
  }

  .form-control {
    border: 2px solid black;
    border-radius: 0;
  }

  .form-section {
    input {
      background-color: $white;
      background-size: 16px 18px;
      background-position: 98% 50%;
      border: 2px solid black;
      border-radius: 0;
      color: $moriginal-gray-medium;
      font-size: 18px;
      height: 39px;
      line-height: 1.428571429;
      padding: 6px 12px;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      width: 100%;
      cursor: text;
    }

    select {
      display: block;
      width: 100%;
      height: 39px;
      padding: 6px 12px;
      font-size: 18px;
      line-height: 1.428571429;
      color: $moriginal-gray-medium;
      background-color: $white;
      background-image: none;
      border: 2px solid black;
      border-radius: 0;
    }

    .form-section--billing {
      border-top: 0 !important;
      margin-top: 15px;
      border: none;
      flex-flow: column;
      @media screen and (min-width: $bp-md) {
        border-left: 1px solid $moriginal-gray-lighter;
        border-top: 0 !important;
        margin-top: 0;
        float: right;
        width: 50%;
      }

      h3 {
        font-family: "Roboto Condensed", sans-serif;
        color: $black;
        font-weight: 600;
        margin-bottom: 30px;
      }

      input {
        background-image: none;
      }

      label {
        text-transform: uppercase;
        font-weight: 700;
        color: $moriginal-gray-dark;
      }

      label[for="retired_checkbox"] {
        text-transform: none;
        color: $black;
      }
    }
  }

  .form-section--donation {
    @media screen and (min-width: $bp-md) {
      float: left;
      width: 50%;
    }

    h3 {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 27px;
      color: $black;
      font-weight: 600;
      padding-bottom: 20px;
    }
  }

  .form-section--payment {
    @media screen and (min-width: $bp-md) {
      float: left;
      width: 50%;
      margin-top: 40px;
    }

    h3 {
      font-family: "Roboto Condensed", sans-serif;
      color: $black;
      font-weight: 600;
      padding-bottom: 10px;
      display: inline-block;
    }
  }

  .form-section--submit {
    text-align: center;
  }

  .form-section--wrapper {
    padding-left: 8px;
    padding-right: 8px;
  }

  .footer-container {
    width: 100%;
  }

  .help-block {
    font-size: 0.75em;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #959595;
  }

  .hidden {
    display: none;
  }

  .hosted-field {
    border: 2px solid black;
  }

  .donation-legal {
    margin: 50px auto auto;

    > div {
      background-color: #f3f3f3;
    }
  }

  .legal {
    color: #555555;
    font-size: 16px;
    padding: 40px;
    @media screen and (min-width: $bp-md) and (max-width: 800px) {
      padding: 40px 100px;
    }
    @media screen and (min-width: 800px) {
      padding: 40px;
    }

    a {
      color: $azure;
      text-decoration: underline;
    }

    h4 {
      color: #000000;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 12.5px;
    }
  }

  .legal .small {
    border: none;
    text-align: left;
    padding: 0;
  }

  .mo-logo-new {
    max-width: 170px;
    position: relative;
    top: 2px;
  }

  .modal {
    display: none;
  }

  .navbar-default {
    z-index: 10;
  }

  .navbar {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
    background: none;
    border: none;
    min-height: 60px;
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 100;
    @media screen and (min-width: $bp-md) {
      margin-bottom: 35px;
      position: relative;
    }
  }

  .navbar-header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    width: 100%;
    z-index: 10;
    height: 70px;
    @media screen and (min-width: $bp-md) {
      min-width: 210px;
    }
    @media screen and (min-width: $bp-md) {
      min-width: 264px;
    }
  }

  a.navbar-brand {
    max-width: 240px;
    height: auto;
    width: 100%;
    margin-left: -30px;
    @media screen and (min-width: $bp-md) {
      width: 100%;
    }
    @media screen and (min-width: $bp-md) {
      max-width: 264px;
    }
  }

  .navbar {
    a.navbar-brand {
      margin-top: 10px;
      margin-left: 0;
    }
  }

  .navbar .logo,
  .navbar .mo-logo-new {
    display: block;
    fill: inherit;
    height: 80px;
    left: 50%;
    position: absolute;
    -ms-transform: translateX(-50%);
    top: 9.5px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 180px;
    z-index: 1000;
    @media screen and (max-width: 750px) {
      .navbar {
        a.navbar-brand {
          margin-left: 0;
          margin-top: 5px;
        }
      }
    }
  }

  .candidate-details {
    font-weight: bold;
    color: $moriginal-blue-medium;
  }

  .payment-border {
    border-top: 1px solid gray;
  }

  .payment-checkbox {
    display: inline-block;
    width: 50px;
    height: 100%;
  }

  .payment-icons {
    img {
      height: 13px;
      @media screen and (min-width: $bp-md) {
        height: 1.15em;
        margin-bottom: 5px;
      }
    }
  }

  .payment-options-header {
    padding-top: 20px;
  }

  .payment-select {
    margin: 9px 0;

    label {
      border-radius: 0;
      font-family: "Roboto";
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      height: 50px;
      text-align: center;
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      @media (min-width: $bp-md) {
        font-size: 30px;
        height: 50px;
      }

      span {
        width: calc(100% - 50px);
        display: inline-flex;
        align-items: center;
        justify-content: center;

        img {
          height: 35px;
        }
        @media (min-width: $bp-md) {
          width: calc(100% - 50px);

          img {
            height: 35px;
          }
        }
      }
    }

    label[for="credit-card"] {
      color: $white;
      background: $cerulean;
      font-size: 18px;

      input {
        background: $cerulean;
      }

      span {
        padding-left: 23px;
      }
    }

    label[for="ach"] {
      color: $white;
      background: $cerulean;
      font-size: 18px;

      input {
        background: $cerulean;
      }

      span {
        padding-left: 23px;
      }
    }

    label[for="paypal"] {
      color: $white;
      background: $light-gold;

      input {
        background: $cerulean;
      }

      span {
        padding-left: 23px;
      }
    }

    label[for="apple"] {
      background: $black;
    }

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
      position: absolute;
      left: 0;
      opacity: 0.01;
    }

    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
      position: relative;
      padding-left: 2.3em;
      line-height: 1.7;
      cursor: pointer;
    }

    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 50px;
      background: inherit;
      -webkit-transition: all 0.275s;
      transition: all 0.275s;
      @media (min-width: $bp-md) {
        width: 50px;
        height: 50px;
      }
    }
    /* checked mark aspect */
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
      content: url("https://s3.amazonaws.com/s3.moveon.org/images/checkmark.svg");
      position: absolute;
      left: 3px;
      font-size: 55px;
      color: $white;
      line-height: 0;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      @media (min-width: $bp-md) {
        font-size: 55px;
      }
    }

    [type="radio"]:checked + label:before {
      background: $azure;
      height: 47px;
      width: 47px;
    }

    [type="radio"]:checked + label {
      border: 3px solid $azure;
    }
    /* checked mark aspect changes */
    [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0) rotate(45deg);
      transform: scale(0) rotate(45deg);
    }

    [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
    }
    /* Disabled radio */
    [type="radio"]:disabled:checked + label:before,
    [type="radio"]:disabled:not(:checked) + label:before {
      box-shadow: none;
      border-color: $medium-light-gray;
      background-color: $light-gray;
    }

    [type="radio"]:disabled:checked + label:after {
      color: $medium-dark-gray;
    }

    [type="radio"]:disabled + label {
      color: $medium-light-gray;
    }
    /* Accessibility */
    [type="checkbox"]:checked:focus + label:before,
    [type="checkbox"]:not(:checked):focus + label:before {
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 0 6px rgba(203, 34, 237, 0.2);
    }
  }

  .row {
    display: block;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
  }

  .security-icons {
    text-align: center;
    color: $medium-dark-gray;
    text-transform: uppercase;
    padding-top: 6px;

    div {
      display: block;
      @media screen and (min-width: $bp-md) {
        display: inline-block;
      }
    }

    img {
      height: 20px;
    }

    span {
      padding-top: 4px;
      padding-right: 10px;
      padding-left: 2px;
    }
  }

  .select-payment-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .sr-only {
    display: none;
  }

  #ach-panel {
    .radio-btn {
      display: flex;

      [type=radio] {
        width: auto;
        margin-top: 5px;
      }

      label {
        font-size: 16px;
        font-weight: 400;
        display: inline;
        margin-left: 20px;
      }
    }

    #ak-mandate {
      margin-bottom: 30px;
      width: 90%;
    }
  }

  #act-form-container {
    margin: 0 auto;
    width: 100%;
  }

  #ak-exp_date-hosted {
    width: 100%;
    @media (min-width: $bp-md) {
      width: 50%;
    }
  }

  #amount_list .donation-header {
    font-weight: bold;
  }

  div#amount_list ul.ak-unstyled li,
  label.ak-btn {
    width: 95px;
  }

  #amount_other_field {
    &:focus {
      box-shadow: none;
    }
  }

  #apple-pay {
    @media screen and (min-width: $bp-md) {
      display: none;
    }
  }

  #candidate_list {
    .candidate-details {
      width: 80%;
    }

    .candidate-portrait {
      float: left;
      margin: 0 1em 1em 0;
    }
  }

  #card_num_box {
    img {
      vertical-align: bottom;
    }

    label {
      display: block;
    }

    .col-md-4,
    .col-md-8 {
      padding: 0;
      margin-bottom: 5px;
    }

    .cc-icons {
      float: right;
    }

    .wf-icon.matched {
      color: $moriginal-green-medium;
    }

    .wf-icon:before {
      margin: 0;
    }
  }

  #custom-donate-split {
    max-width: 500px;

    .amount-with-currency {
      min-height: 42px;
      padding-right: 50%;

      input,
      span.currency_sym {
        font-size: 1.4em;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      input {
        float: left;
      }
      @media screen and (min-width: $bp-md) {
        input {
          float: none;
        }
      }
    }

    span.currency_sym {
      position: absolute;
      left: 1em;
    }
  }

  #default-donate-split {
    ul.donation-amount-choices {
      margin-bottom: 0.5em;
    }
  }

  #donation-link-onetime {
    float: none;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    @media (min-width: $bp-md) {
      margin-top: 30px;
      margin-bottom: -32px;
    }
  }

  #name {
    background-image: none;
    background-size: 16px 18px;
    background-position: 98% 50%;
    cursor: auto;
  }

  #other-amount-container-label {
    margin-top: 30px;
    margin-bottom: 7px;
  }

  #paypal-button-desktop {
    background-color: $paypal-blue;
    border-radius: 5px;
    box-shadow: 1px 1px $paypal-blue-dark;
    padding: 10px;
    margin-top: 15px;
    @media screen and (min-width: $bp-md) {
      display: inline-block;
    }
  }

  #paypal-div {
    display: inline-block;
    width: 75%;
  }

  #product_list {
    .mobile-quantity-label {
      display: none;
    }

    .product-amount {
      white-space: nowrap;
    }

    .product-header {
      text-align: center;
    }

    .product-description {
      width: 100%;
    }

    .product-description img {
      height: auto;
      width: 100%;
    }

    .product-name {
      font-weight: 600;
    }

    .product-row {
      text-align: center;
      margin: 15px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }

    .ak_product_inputs {
      margin-bottom: 5px;
    }

    #product-table-headers {
      background: $white;
      margin: 15px;
    }
    @media (max-width: 768px) {
      .product-row {
        flex-direction: column;
      }

      .mobile-quantity-label {
        display: block;
      }

      .product-description img {
        height: auto;
        width: 50%;
        margin: 0 auto;
      }

      #product-table-headers {
        display: none;
      }
    }
  }

  #product_list {
    th.product-amount {
      white-space: nowrap;
    }

    th#product-details-header {
      text-align: center;
    }
  }
  /* --Specific to product pages using the product templateset --*/
  div#product_list_product {
    td.product-amount,
    td.product-details,
    td.product-quantity,
    th#product-amount-header,
    th#product-details-header,
    th#product-quantity-header {
      padding: 0.5em;
    }

    table {
      margin-bottom: 1em;
    }

    th#product-details-header {
      text-align: left;
    }
  }
  /* --end product templateset specific styles -- */
  #save_payment_information {
    span {
      color: #b0b0b0;
      font-size: 15px;
      font-weight: 400;
    }
  }

  #save_payment_information_checkbox {
    height: 15px;
    width: 15px;
  }

  #total_div {
    clear: both;
  }

  #total-span {
    color: $moriginal-green-medium;
  }
}

.test-class {
  background: $white;
  margin-bottom: -10px;
  width: 105%;
  font-size: 25px !important;

  a {
    display: inline !important;
  }
  @media screen and (min-width: $bp-md) {
    width: 150%;
    margin-left: -25%;
  }
}