.petition {
  &-sign-column {
    @include respond((
      display: none null block
    ));

    .sign-form {
      @include respond((
        padding-top: 79px null 30px,
      ));

      textarea {
        @include respond((
          height: null null 100px,
        ));
      }
    }
  }
}
