@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
body.recurring_update-page {
  font-size: 18px;
  h1 {
    text-align: center;
  }
    #recurring-update {
      margin: 47px 0;
      .table-block {
        background-color: #e5f5ff;
        width: 60%;
        margin: 0 auto;
        padding: 24px;
        .btn {
          margin-bottom: 24px;
        }
      }
  }
}
