body.survey-pagetype.thanks-page {
  padding-top: 75px;
  @media screen and (min-width: $bp-lg) {
    padding-top: 150px;
  }

  ol {
    list-style: none;
    margin-left: 0;
  }

  li {
    counter-increment: custom;
  }

  ol li:before {
    color: #00ABFF;
    content: counter(custom) " ";
    font-size: 40px;
    font-weight: 900;
    line-height: 46.88px;
  }

  ol li:first-child {
    counter-reset: custom;
  }

  .text-info {
    color: #0098AD; //giraffe has #17a2b8 for .text-info but Brianna says it should be darker teal for this page.
  }

  #donation-info {
    margin: 16px 0;
    padding: 24px;

    .info-row {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
      @media (min-width: $bp-md) {
        flex-direction: row;
      }

      .info-content {
        flex: 3;
        padding: 8px;
      }

      .info-label {
        flex: 1;
      }
    }
  }
}