{% set path = '../' %}
{% extends 'layout' %}
{% from 'components/message' import message as message %}

{% block bodyclass %}petition rp{% endblock %}

{% block content %}
    <div class='container'>
      <div class='row my-4 my-lg-5 mx-1 justify-content-center'>
        {{ message("We've found another petition which may interest you. We'll forward you there in 10 seconds.", "gray", "<a href='#'>cancel</a>", true) }}
        <div class='col-10 col-md-7 petition-thanks__container'>
          {% include 'components/petition-thanks' %}
        </div>
      </div>
    </div>
{% endblock %}
