{% set markup = { blocks: ['markup']} %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">                <meta charset="utf-8">
        <title>{% block title %}Grid - Move On Styleguide{% endblock %}</title>
        <link rel="stylesheet" href="../styles/vendors.css" />
        <link rel="stylesheet" href="../styles/main.css" />
        <link rel="stylesheet" href="../styles/styleguide.css" />
    </head>
    <body class="giraffe {% block bodyclass %}styleguide {% endblock %}">
        <div style="display:none">{% include 'components/symbol/svg/sprite.symbol.svg' %}</div>
        <div class="wrapper">

          {% include 'styleguide/header' %}

          <div class="stylguide-content">


            {# Section Center columns #}
            {% embed 'styleguide/block' with markup%}
                {% block heading %}Center columns{% endblock %}
                {% block content %}
                    <div class="styleguide-centered-columns">
                      <div class="container">
                        <div class="row justify-content-center">
                          <div class="col-md-6">
                            <p>This is a centered column, note the class justify-content-center.</p>
                            <p>See more examples here: <a href="https://getbootstrap.com/docs/4.0/layout/grid/" target="_blank">Bootstrap Grid</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endblock %}
                {% block markup %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <p>This is a centered column, note the class justify-content-center.</p>
    </div>
  </div>
</div>
                {% endblock %}
            {% endembed %}

          </div>

        </div>

        <script src="scripts/vendors.js"></script>
        <script src="scripts/app.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
