{% set path = '../' %}

<!DOCTYPE html>
<html class="giraffe">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">                <meta charset="utf-8">
        <title>{% block title %}Move On Styleguide{% endblock %}</title>
        <link rel="stylesheet" href="../styles/vendors.css" />
        <link rel="stylesheet" href="../styles/main.css" />
        <link rel="stylesheet" href="../styles/styleguide.css" />
    </head>
    <body class="{% block bodyclass %}styleguide {% endblock %}">
        <div style="display:none">{% include 'components/symbol/svg/sprite.symbol.svg' %}</div>

          {% include 'styleguide/header' %}


        <div class="container">
          <!-- TODO: where do breadcrumbs and h1 go relative to the top? -->
              <div class="breadcrumb-link">
                <a href="../">← Back to Styleguide</a>
              </div>
              <h1>The Header and page tops</h1>
          <div class="row">
            <div class="col-md-12">
              <div class="pagemenu">
                <ul>
                  <li><a href="#future">General header guidance</a></li>
                  <li><a href="#pagestructure">Page Structure</a></li>
                  <li><a href="#full">Full Header</a></li>
                  <li><a href="#minimal">Minimal Header</a></li>
                  <li><a href="#partners">Partner Headers (TODO)</a></li>
                  <li><a href="#banner">Campaign Headers (TODO)</a></li>
                  <li><a href="#breadcrumbs">Below the Header: breadcrumbs (FIXME)</a></li>
                  <li><a href="#pagemenus">Below the Header: Page Titles and menus</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="stylguide-content">

            <h2 class="styleguide-block__heading">General header guidance</h2>
            <div class="styleguide-block__content">
              <p>The full header should be used whenever possible since it
                provides the important links we expect members to navigate to
                opportunistically from everywhere.
              </p>
              <p>There are some cases where we do NOT use the full header:</p>
              <ul>
                <li>When we want to focus the user on a particular action: Completing donation,
                  many 'thanks' pages have specific asks.
                <li>When the MoveOn logo itself won't be included due to partner inclusion
              </ul>
            </div>

            {# PAGE STRUCTURE #}
            {% embed 'styleguide/block' with {'id': 'pagestructure'} %}
                {% block heading %}Page Structure{% endblock %}
                {% block guidance %}
                   <p>There are a few structures that will give you a 'working' page.
                     The first thing to note is that ALL style is only applied UNDER a <code>class="giraffe"</code>
                     element.  This can be useful if you want to add e.g. the header to an otherwise differently-styled
                     page governed by other CSS.
                   <p>Besides that, note that there are some important pieces to make the header work
                   <ul>
                     <li>To add padding for the content below the nav header, you must either have class="giraffe" in the html element like: <code>&lt;html class="giraffe">.....&lt;body>....</code> OR &lt;body id="giraffe-wrapper" class="giraffe"> (or the same in a lower div)
                     <li>Include a JS file that includes the <code>Nav</code> script component (scripts/app.js, scripts/actionkit.js, or scripts/front.js) or the mobile menu won't work
                   </ul>
                {% endblock %}
                {% block markup %}
<html class="giraffe">
  <body>
    ....
  </body>
</html>
<!-- OR -->
<html>
  <body id="giraffe-wrapper" class="giraffe">
    ...
  </body>
</html>
                {% endblock %}
            {% endembed %}


            {# FULL HEADER #}
            {% embed 'styleguide/block' with {'id': 'full'} %}
                {% block heading %}Full Header{% endblock %}
                {% block content %}
                   <div style="position: relative; margin-bottom: 50px">
                   {% include 'components/header' %}
                   </div>
                {% endblock %}
                {% block markup %}{% include 'components/header' %}
                {% endblock %}
            {% endembed %}

            {# MINIMAL HEADER #}
            {% embed 'styleguide/block' with {'id': 'minimal'} %}
                {% block heading %}Minimal Header{% endblock %}
                {% block guidance %}
                   <p>Use the minimal header when we want to avoid distraction and focus the visitor
                      on the content -- often to complete an action.
                {% endblock %}
                {% block content %}
                   <div class="header">
                     <div class="mo-container">
                       <a href="/" class="logo">
                         <img src="../images/logo.svg" alt="Move On Logo">
                       </a>
                     </div>
                   </div>
                {% endblock %}
                {% block markup %}
<div class="header">
  <div class="mo-container">
    <a href="/" class="logo">
      <img src="../images/logo.svg" alt="Move On Logo">
    </a>
  </div>
</div>
                {% endblock %}
            {% endembed %}


            {# PARTNER HEADER #}
            {% embed 'styleguide/block' with {'id': 'partners'} %}
                {% block heading %}Partner Headers{% endblock %}
                {% block guidance %}
                   <p>When collaborating with partners we often need to step back with MoveOn-central
                     branding. We can still work within this style-guide, but the MoveOn logo will not
                     be on top and often another event or campaign-specific brand will be in its place
                {% endblock %}
                {% block content %}
                     TKTK
                {% endblock %}
                {% block markup %}{% endblock %}
            {% endembed %}

            {# CAMPAIGN HEADER #}
            {% embed 'styleguide/block' with {'id':'banner'} %}
                {% block heading %}Campaign Headers{% endblock %}
                {% block guidance %}
                   <p>Some campaigns have special banners to emphasize the work.
                     When we use these, it should generally only be on the 'landing' page
                     since we will want content central and visible above-the-fold.
                {% endblock %}
                {% block content %}
                     TKTK
                {% endblock %}
                {% block markup %}{% endblock %}
            {% endembed %}

            {# BREADCRUMBS #}
            {% embed 'styleguide/block' with {'id':'breadcrumbs'} %}
                {% block heading %}BreadCrumbs{% endblock %}
                {% block guidance %}
                     FIXME: where to put this around div.container, row and header?
                     Breadcrumb divs are styled so they will take up vertical space
                     regardless of whether they are filled in.  That can help javascript loading
                     to avoid 'vertical jitter' and also help place the header below the MoveOn
                     logo overflow below the header.
                {% endblock %}
                {% block content %}
                     <div class="breadcrumb-link">
                       <a href="../">← Back to Styleguide</a>
                     </div>
                {% endblock %}
                {% block markup %}<body>...
<!-- header here -->
<!-- ?TKTK anything else? -->
<div class="breadcrumb-link">
 <a href="../">← Back to Styleguide</a>
</div>{% endblock %}
            {% endembed %}


            {# CAMPAIGN HEADER #}
            {% embed 'styleguide/block' with {'id':'pagemenus'} %}
                {% block heading %}Page Menus{% endblock %}
                {% block guidance %}

                  <p>Especially on mobile it might be useful to show a page menu at the top of the page,
                  so people can navigate to sub-sections of the page on mobile (and understand what's on the page).
                  Sometimes it's even useful on desktop with a large page (for instance, this one).
                  <p>For mobile-only (hidden on desktop), use class="mobile-pagemenu" otherwise use class="pagemenu"
                {% endblock %}
                {% block content %}
                  <div class="pagemenu">
                    <ul>
                      <li><a href="#pagemenus">Menu Option1</a></li>
                      <li><a href="#pagemenus">Menu Option2</a></li>
                      <li><a href="#pagemenus">Another Option</a></li>
                    </ul>
                  </div>
                {% endblock %}
                {% block markup %}<!--MOBILE ONLY-->
<div class="mobile-pagemenu">
  <ul>
    <li><a href="#pagemenus">Menu Option1</a></li>
    <li><a href="#pagemenus">Menu Option2</a></li>
    <li><a href="#pagemenus">Another Option</a></li>
  </ul>
</div>
<!--BOTH MOBILE AND DESKTOP -->
<div class="pagemenu">
  <ul>
    <li><a href="#pagemenus">Menu Option1</a></li>
    <li><a href="#pagemenus">Menu Option2</a></li>
    <li><a href="#pagemenus">Another Option</a></li>
  </ul>
</div>
{% endblock %}
            {% endembed %}

          </div>

        </div>

        <script src="{{path}}scripts/vendors.js"></script>
        <script src="{{path}}scripts/app.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
