
{% set markup = { blocks: ['markup']} %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">                <meta charset="utf-8">
        <title>{% block title %}Move On Styleguide{% endblock %}</title>
        <link rel="stylesheet" href="../styles/vendors.css" />
        <link rel="stylesheet" href="../styles/main.css" />
        <link rel="stylesheet" href="../styles/styleguide.css" />
    </head>
    <body class="giraffe rp {% block bodyclass %}styleguide {% endblock %}">
        <div style="display:none">{% include 'components/symbol/svg/sprite.symbol.svg' %}</div>
        <div class="wrapper">

          {% include 'styleguide/header' %}

            {# SOCIAL SHARE LINKS #}
            {% embed 'styleguide/block' with markup %}
              {% block heading %}Social share links - stacked{% endblock %}

              {% block content %}
                <a href="https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Ffront.moveon.org" target="_blank" aria-label="Share on Facebook" class="share_item flex"><svg><use xlink:href="#facebook"></use></svg>Share on Facebook</a>
                <a href="https://twitter.com/intent/tweet/?via=MoveOnOrg" target="_blank" aria-label="Share on Twitter" class="share_item flex"><svg><svg><use xlink:href="#twitter"></use></svg></svg>Tweet this</a>
                <a href="mailto:?subject=An%20article%20from%20MoveOn%20&amp;body=http%3A%2F%2Ffront.moveon.org" class="share_item flex"><svg><svg><use xlink:href="#mail"></use></svg></svg>Email a friend</a>
              {% endblock %}

              {% block markup %}
              <a href="https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Ffront.moveon.org" target="_blank" aria-label="Share on Facebook" class="share_item flex"><svg><use xlink:href="#facebook"></use></svg>Share on Facebook</a>
              <a href="https://twitter.com/intent/tweet/?via=MoveOnOrg" target="_blank" aria-label="Share on Twitter" class="share_item flex"><svg><svg><use xlink:href="#twitter"></use></svg></svg>Tweet this</a>
              <a href="mailto:?subject=An%20article%20from%20MoveOn%20&amp;body=http%3A%2F%2Ffront.moveon.org" class="share_item flex"><svg><svg><use xlink:href="#mail"></use></svg></svg>Email a friend</a>{% endblock %}

            {% endembed %}

            {% embed 'styleguide/block' with markup %}
              {% block heading %}Social share links - inline{% endblock %}

              {% block content %}
                <a href="https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Ffront.moveon.org" target="_blank" aria-label="Share on Facebook" class="share_item"><svg><use xlink:href="#facebook"></use></svg>Share on Facebook</a>
                <a href="https://twitter.com/intent/tweet/?via=MoveOnOrg" target="_blank" aria-label="Share on Twitter" class="share_item"><svg><svg><use xlink:href="#twitter"></use></svg></svg>Tweet this</a>
                <a href="mailto:?subject=An%20article%20from%20MoveOn%20&amp;body=http%3A%2F%2Ffront.moveon.org" class="share_item"><svg><svg><use xlink:href="#mail"></use></svg></svg>Email a friend</a>
              {% endblock %}

              {% block markup %}
              <a href="https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Ffront.moveon.org" target="_blank" aria-label="Share on Facebook" class="share_item flex"><svg><use xlink:href="#facebook"></use></svg>Share on Facebook</a>
              <a href="https://twitter.com/intent/tweet/?via=MoveOnOrg" target="_blank" aria-label="Share on Twitter" class="share_item flex"><svg><svg><use xlink:href="#twitter"></use></svg></svg>Tweet this</a>
              <a href="mailto:?subject=An%20article%20from%20MoveOn%20&amp;body=http%3A%2F%2Ffront.moveon.org" class="share_item"><svg><svg><use xlink:href="#mail"></use></svg></svg>Email a friend</a>{% endblock %}

            {% endembed %}

            {% embed 'styleguide/block' with markup %}
              {% block heading %}Social share links - stacked buttons{% endblock %}

              {% block content %}
                <a href="https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Ffront.moveon.org" target="_blank" aria-label="Share on Facebook" class="share_item__btn flex mb-2"><svg><use xlink:href="#facebook"></use></svg>Share on Facebook</a>
                <a href="https://twitter.com/intent/tweet/?via=MoveOnOrg" target="_blank" aria-label="Share on Twitter" class="share_item__btn flex mb-2"><svg><svg><use xlink:href="#twitter"></use></svg></svg>Tweet this</a>
                <a href="mailto:?subject=An%20article%20from%20MoveOn%20&amp;body=http%3A%2F%2Ffront.moveon.org" class="share_item__btn flex"><svg><svg><use xlink:href="#mail"></use></svg></svg>Email a friend</a>
              {% endblock %}

              {% block markup %}
              <a href="https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Ffront.moveon.org" target="_blank" aria-label="Share on Facebook" class="share_item__btn flex mb-2"><svg><use xlink:href="#facebook"></use></svg>Share on Facebook</a>
              <a href="https://twitter.com/intent/tweet/?via=MoveOnOrg" target="_blank" aria-label="Share on Twitter" class="share_item__btn flex mb-2"><svg><svg><use xlink:href="#twitter"></use></svg></svg>Tweet this</a>
              <a href="mailto:?subject=An%20article%20from%20MoveOn%20&amp;body=http%3A%2F%2Ffront.moveon.org" class="share_item__btn flex"><svg><svg><use xlink:href="#mail"></use></svg></svg>Email a friend</a>{% endblock %}

            {% endembed %}

            {% embed 'styleguide/block' with markup %}
              {% block heading %}Social share links - inline buttons{% endblock %}

              {% block content %}
                <a href="https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Ffront.moveon.org" target="_blank" aria-label="Share on Facebook" class="share_item__btn"><svg><use xlink:href="#facebook"></use></svg>Share on Facebook</a>
                <a href="https://twitter.com/intent/tweet/?via=MoveOnOrg" target="_blank" aria-label="Share on Twitter" class="share_item__btn"><svg><svg><use xlink:href="#twitter"></use></svg></svg>Tweet this</a>
                <a href="mailto:?subject=An%20article%20from%20MoveOn%20&amp;body=http%3A%2F%2Ffront.moveon.org" class="share_item__btn"><svg><svg><use xlink:href="#mail"></use></svg></svg>Email a friend</a>
              {% endblock %}

              {% block markup %}
              <a href="https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Ffront.moveon.org" target="_blank" aria-label="Share on Facebook" class="share_item__btn"><svg><use xlink:href="#facebook"></use></svg>Share on Facebook</a>
              <a href="https://twitter.com/intent/tweet/?via=MoveOnOrg" target="_blank" aria-label="Share on Twitter" class="share_item__btn"><svg><svg><use xlink:href="#twitter"></use></svg></svg>Tweet this</a>
              <a href="mailto:?subject=An%20article%20from%20MoveOn%20&amp;body=http%3A%2F%2Ffront.moveon.org" class="share_item__btn"><svg><svg><use xlink:href="#mail"></use></svg></svg>Email a friend</a>{% endblock %}

            {% endembed %}


        </div>

        <script src="scripts/vendors.js"></script>
        <script src="scripts/app.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
