button {
  &.btn {
    font-size: 18px;
    padding: 5px 10px;
    min-width: 100px;

    svg {
      width: 14px;
      height: 14px;
      color: inherit;
      fill: currentcolor !important;
      margin-left: 10px;
    }

    &.azure {
      @include btn--azure;

      &:hover {
        svg {
          fill: $white;
        }
      }
    }

    &.transparent {
      @include btn--transparent;
    }

    &.transparent-dark {
      @include btn--transparent-dark;
    }

    &.transparent-light {
      @include btn--transparent-light;
    }
  }
}
