button {
  &.btn {
    font-size: 1em;
    padding: .375rem .75rem;

    &--large {
      padding: .5rem 1rem;
      font-size: 1.5em;
      height: auto;
    }

    &.azure {
      @include btn--azure;
      color: $white;

      &:hover {
        svg {
          fill: $white;
        }
      }
    }

    &.transparent {
      @include btn--transparent;
    }

    &.transparent-dark {
      @include btn--transparent-dark;
    }

    &.transparent-light {
      @include btn--transparent-light;
    }
  }
}
