.card {
  background-color: $ice-blue;
  position: relative;

  @include respond((
    padding: (21px 22px 28px) null (107px percentage(80/780) 66px),
  ));

  &--center {
    text-align: center;
  }

  &__heading {
    span {
      display: inline-block;
      padding: 2px 5px;
      @include font(roboto-condensed-bold);
      @include respond((
        font-size: 21px null 48px,
        line-height: .9 null 48px,
        letter-spacing: -.6px null normal,
        background-color: $azure,
      ));
    }
    h1 {
      line-height: 1em;
      span {
        @include respond((
          font-size: 2.5rem 3rem,
        ));
      }
    }
  }

  &__body {
    @include respond((
      margin-top: 13px null 24px,
    ));

    p {
      @include respond((
        font-size: 16px null 18px,
        line-height: 24px null 24px,
      ));
      @include font(roboto);

      &:not(:first-child) {
        @include respond((
          margin-top: 20px null 32.5px,
        ));
      }

      &.large {
        font-size: 1.5rem;
      }
    }

    strong {
      @include font(roboto-bold);
    }

  }

  &__media {
    @include respond((
      margin-top: 15px null 29px,
    ));
  }
}