body {
  font-size: 1rem;
}

p {
  margin-bottom: 1em;
}

small, .small {
  font-size: .8em;
  font-weight: normal;
  line-height: 1em;
}

large, .large {
  font-size: 1.2em;
  font-weight: normal;
}

b, .bold {
  font-weight: bold;
  @include font(roboto-bold);
}

img {
  max-width: 100%;
  height: auto;
}

.text-align-center {
  text-align:center;
}

.text-align-left {
  text-align:left;
}

.text-align-right {
  text-align:right;
}

.fine-print {
  font-size: .8em !important;
  line-height: 1.5em !important;
  font-weight: normal !important;

  &.fine-print-message {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: .8em !important;
    line-height: 1.5em !important;
    font-weight: normal !important;
    padding-top: 5px;
  }

  &.incontentblock {
    position: absolute;
    right: 0;
    top: 0;
    color: black;
    padding-right: 1.5rem !important; /* matches p-4 padding for contact info block */

  }

  &.underbutton {
    text-align: center;
  }
}

