/* Fixes scrollbar visibility in mobile */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* Fixes to regressions in Red Peak comp'ed pages introduced by changes to giraffe base styles */

p.home-hero__body {
  margin-bottom: 0;
  @include respond((
    margin-top: 27px null 44px,
  ));
}

.home-illustration__body p {
  margin-bottom: 0;
}

h3.home_illustration__content-heading {
  @include respond((
    color: $white,
    font-size: (36px !important) null (48px !important),
    line-height: (1 !important) null (.9 !important),
  ));
}

p.cta-grid__text {
  margin-bottom: 0;
}

/* Fixes form input vertical alignment after substituting
static labels for animated labels https://github.com/MoveOnOrg/giraffe/issues/88
*/

form .input-block:first-child {
  margin-top: 2rem;
}

form .input-block:not(:first-of-type) {
    margin-top: 2.25rem;
}

/* Homepage join form fixes */

.subscribe-sms-conditions {
  display: flex;
  opacity: 1.0;
}

.subscribe-sms-conditions.dimmed {
  opacity: 0.5;
}

/* object-fit fix for IE11 */

.img-container {

    &.compat-object-fit {
        background-size: cover;
        background-position: center center;

        img { // hide image if object fit is not supported
            opacity: 0;
        }

    }

}
