.message {
  @include font(roboto-condensed-bold);
  color: $white;

  &--orange {
    background-color: $orange;
  }

  &--red {
    background-color: $muted-red;
  }

  &--gray {
    background-color: $gray;
  }

  &--azure {
    background-color: $azure;
  }

  a,
  a:visited,
  a:active {
    text-decoration: underline;
    color: $white;

    &:hover {
      color: $light-blue;
    }
  }

}