.mo-modal {
  background-color: rgba(0, 0, 0, .25);

  &__content {
    background-color: #fff;
    padding: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .75);
  }

  @media screen and (max-width: $bp-md) {
    &__dialog {
      padding: 5%;
    }

    &__content {
      padding: 10%;
    }
  }

  @media screen and (min-width: $bp-lg) {
    &__close {
      width: 20px;
      top: 4px;
      right: 20px;
    }
  }
}
