form.searchbar {
  .input-block select, input, button {
    font-size: 18px;
    width: 100%;
    height: 40px;
  }

  input {
    border: 1px solid $light-gray;
    font-weight: 400;
  }

  .input-block {
    margin-top: 0;
  }
}