.share_item {
  display: inline-flex;
  font-size: 1rem;
  line-height: 20px;
  padding: .5em;
  margin-right: 2em;
  color: $azure;

  svg {
    width: 20px;
    height: 20px;
    padding: 0;
    margin-right: 1em;
    fill: $azure;
  }

  &:active,
  &:visited {
    color: $azure;

    svg {
      fill: $azure;
    }
  }

  &.flex {
    display: flex;
  }

  &__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include btn--azure;
    padding: 10px 20px;
    color: $white;

    &:active,
    &:visited {
      color: $white;

      &:hover {
        color: $white;

        svg {
          fill: $white;
        }
      }
    }

    &:hover {
      color: $white;

      svg {
        fill: $white;
      }
    }

    &.flex {
      display: flex;
    }

    svg {
      width: 20px;
      height: 20px;
      padding: 0;
      margin-right: 1em;
      fill: $white;
    }
  }
}
