{% macro message(text, color, rightText, hidden) %}
<div class="message bg-{{ color }} col-12 mb-4 mb-md-5 p-3" style="{{ hidden ? 'display: none' : ''}}">
  <div class="row">
    <div class="col">
      {{ text }}
    </div>
    <div class="col-md-auto mt-3 mt-md-0">
      {{ rightText }}
    </div>
  </div>
</div>
{% endmacro %}