.bg-white {
  background-color: $white;
}
.bg-off-white {
  background-color: $off-white;
}
.bg-gray {
  background-color: $gray;
}
.bg-light-gray {
  background-color: $light-gray;
}
.bg-slate-gray {
  background-color: $slate-gray;
}
.bg-dark-gray {
  background-color: $dark-gray;
}
.bg-dark-gray-38 {
  background-color: $dark-gray-38;
}
.bg-black {
  background-color: $black;
}
.bg-deep-sea-blue {
  background-color: $deep-sea-blue;
}
.bg-cerulean {
  background-color: $cerulean;
}
.bg-azure {
  background-color: $azure;
}
.bg-ice-blue {
  background-color: $ice-blue;
}
.bg-light-blue {
  background-color: $light-blue;
}
.bg-red {
  background-color: $red;
}
.bg-muted-red {
  background-color: $muted-red;
}
.bg-orange {
  background-color: $orange;
}
.white {
  color: $white;
}
.off-white {
  color: $off-white;
}
.gray {
  color: $gray;
}
.light-gray {
  color: $light-gray;
}
.slate-gray {
  color: $slate-gray;
}
.dark-gray {
  color: $dark-gray;
}
.dark-gray-38 {
  color: $dark-gray-38;
}
.black {
  color: $black;
}
.deep-sea-blue {
  color: $deep-sea-blue;
}
.cerulean {
  color: $cerulean;
}
.azure {
  color: $azure;
}
.ice-blue {
  color: $ice-blue;
}
.light-blue {
  color: $light-blue;
}
.red {
  color: $red;
}
.muted-red {
  color: $muted-red;
}
