$bp-sm:    null;
$bp-md:   768px;
$bp-lg:  1008px;
$bp-lgr: 1025px;
$bp-xl:  1440px;

$breakpoints: (
  sm: $bp-sm,
  md: $bp-md,
  lg: $bp-lg,
  xl: $bp-xl,
);

// Grid breakpoints
// These should match those defined as $grid-breakpoints in _variables.scss.
// They are re-defined here instead of included via the variables file because they have
// very limited use outside of the grid definitions, and the variables file contains
// many extraneous variables, some of which don't compile.
$g-bp-xs: 0;
$g-bp-sm: 576px;
$g-bp-m: 768px;
$g-bp-lg: 992px;
$g-bp-xl: 1200px;