$gallery: #efefef;
$thin-air: #caf4ff;
$white: #ffffff;
$off-white: #f3f3f3;
$gray: #cacaca;
$light-gray: #a7a7a7;
$slate-gray: #696a6a;
$dark-gray: #222222;
$dark-gray-38: rgba(34, 34, 34, 0.38);
$medium-light-gray: #bbbbbb;
$medium-dark-gray: #777777;
$light-gray: #e9e9e9;
$black: #000000;
$deep-sea-blue: #005680;
$cerulean: #0080bf;
$paypal-blue: #ffc538;
$paypal-blue-dark: #f5ae27;
$azure: #00abff;
$logo-blue: #1298FE;
$light-blue: #99ddff;
$ice-blue: #e5f5ff;
$red: #ea1c24;
$muted-red: #c3645c;
$orange: #dbad54;
$light-gold: #fed059;
$gold: #e9be02;
$moriginal-gray-dark: #555555;
$moriginal-gray-light: #F3F3F3;
$moriginal-gray-lighter: #CCCCCC;
$moriginal-gray-lightest: #E3E3E3;
$moriginal-gray-medium: #878787;
$moriginal-green: #2FB544;
$moriginal-green-medium: #37b34a;
$moriginal-blue-dark: #193f92;
$moriginal-blue-medium: #296ecb;
$c-facebook: #3B5998;
$c-facebook-hover: #1877F2;
$c-twitter: #1DA8E2;
$c-twitter-hover: #51BDFF;
$c-fb-messenger-hover: #0C188A;
$c-email: #D85040;
$c-email-hover: #FF3E27;