@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:400,500,700'); 

$fonts: (
  roboto: ('Roboto', sans-serif),
  roboto-medium: ('Roboto', sans-serif),
  roboto-bold: ('Roboto', sans-serif),
  roboto-condensed: ('Roboto Condensed', sans-serif),
  roboto-condensed-bold: ('Roboto Condensed', sans-serif),
);

$weights: (
  roboto: normal,
  roboto-medium: 500,
  roboto-bold: 700,
  roboto-condensed: normal,
  roboto-condensed-bold: bolder,
);

@mixin font( $name) {
  @if ( map-has-key($fonts, $name) && map-has-key($weights, $name)) {
    font-family: map-get($fonts, $name);
    font-weight: map-get($weights, $name);
  }
}
